footer.footer
  .container
    .logo
      h1.h3.logo__top живая игра
      span.caption выбывает слабейший
    nav.menu
      a(href="" data-section="#rules").menu__link.link.js-scroll Правила участия
      a(href="" data-section="#diagnostic").menu__link.link.js-scroll Самодиагностика
      a(href="https://l-life.ru/").menu__link.link.txt_att “Лучшая Life”
      a(href="" data-section="#reviews").menu__link.link.js-scroll Отзывы
      a(href="" data-modal="modal-contact").menu__link.link.js-modal Контакты

    p.caption Идея и воплощение АНО "НПИ ФМ" в рамках гуманитарного проекта "Школа долгожития и здравомыслия"
  p.copy.caption © 2000 – 2016 Самодиагностика организма. Все права защищены