header.header
  .container
    .logo
      h1.h3.logo__top живая игра
      span.caption выбывает слабейший
    nav.menu
      a(href="").menu__link.link Правила участия
      a(href="").menu__link.link Самодиагностика
      a(href="").menu__link.link.txt_att “Лучшая Life”
      a(href="").menu__link.link Отзывы
      a(href="" data-modal="modal-contact").menu__link.link.js-modal Контакты

    .login
      .login__head
        .trend
          span 19,2
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-arr-t")
        a(href="profile.html").link.login__name Константин
        button.login__toggle
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-shape")
      nav.login__nav
        a(href="profile.html").link Личный кабинет
        a(href="results.html").link Результаты самодиагностики
        a(href="").link Настройки профиля
        a(href="").link Выйти
    //- button.btn.btn_primery.js-modal(data-modal="modal-login") Войти
    //-   svg.icon
    //-     use(xlink:href="assets/img/sprite.svg#icon-shape")