.control-panel
  .container
    nav.breadcrumbs
      a(href="") Главная
      a(href="").breadcrumbs_active Личный кабинет
    .panels
      .profile
        .profile__trend
          .trend.trend_xl
            span 19,2
            svg.icon
              use(xlink:href="assets/img/sprite.svg#icon-arr-t")
          p.caption Увеличено на 1,8
        .profile__info
          h3.h3.profile__name Филатов Константин
          a(href="mailto:filatov224@mail.ru").profile__mail filatov224@mail.ru
          p.caption Приглашено: 4
      a(href="").panel
        img(src="assets/img/workers.svg", alt="workers").panel__img
        p.panel__title Ваши участники
      
      .panel-block
        a(href="").panel
          img(src="assets/img/hired.svg", alt="hired").panel__img
          p.panel__title Пригласить участников
        a(href="").panel.panel_off
          img(src="assets/img/podium.svg", alt="podium").panel__img
          p.panel__title Чемпионат «Живая Игра»
      
