//results
section.results
  .container_min
    h2.h2.results__title.txt_centr Результаты Самодиагностики
    .results__value Величина психоэмоционального напряжения:
      span.txt_gradient-att 22

    .structure
      h3.txt_gradient.txt_centr.txt_upper Струткура
      .radial
        div.radial__chart
          canvas#myChart
        .radial__lable.radial__lable_first I-тип рассогласования
          strong (обида)
        .radial__lable.radial__lable_second II-тип рассогласования
          strong (страх)
        .radial__lable.radial__lable_third III-тип рассогласования
          strong (вина)
        .radial__lable.radial__lable_four IV-тип рассогласования
          strong (стыд)
        
    .relation
      h3.txt_gradient.txt_centr.txt_upper соотношения неприятных переживаний
      .bars
        .deadline
        .bars__axis-y
          p.bars-y
            span 1
            i
          p.bars-y
            span 0.8
            i
          p.bars-y 
            span 0.6
            i
          p.bars-y
            span 0.4
            i
          p.bars-y 
            span 0.2
            i
          p.bars-y 
            span 0
            i
        .bars__axis-x
          p.bars-x
            span 0
            i
          p.bars-x
            span 20%
            i
          p.bars-x 
            span 40%
            i
          p.bars-x
            span 60%
            i
          p.bars-x 
            span 80%
            i
          p.bars-x 
            span 100%
            i
            
        .bars__chart
          .bar(data-y="65" data-x="28")
            .bar__info sds
          .bar(data-y="75" data-x="22")
            .bar__info sds
          .bar(data-y="50" data-x="24")
            .bar__info sds
          .bar(data-y="73" data-x="26")
            .bar__info sds
      p 
        strong Угрожающее состояние мышления (психики) 
        | патологически влияющее на жизненные физиологические процессы организма. Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.
      
  .toggle
    .toggle__head
      | Подробнее
      svg.icon
        use(xlink:href="assets/img/sprite.svg#icon-arr-b")
    .toggle__body
      table.table
        thead
          tr
            th Элементы
              br
              | психоэмоционального напряжения
            th I-тип (Страх)
            th II-тип (Стыд)
            th III-тип (Вина)
            th IV-тип (Обида)
            th.txt_gradient-att Σ
        tbody
          tr
            td Выявленные реакции, формирующие психоэмоциональное напряжение
            td 9
            td 8
            td 10
            td 15
            td.txt_gradient-att 42
          tr
            td Реакции эффективного мышления, приводящего к расслаблению
            td 1
            td 1
            td 2
            td 3
            td.txt_gradient-att 7.0
          tr
            td Коэффициент психоэмоционального напряжения какого-либо типа рассогласования или суммарный
            td 0,89
            td 0,88
            td 0,8
            td 0,8
            td.txt_gradient-att 0,83
          tr
            td Доля, какого-либо типа рассогласования от общего количества реакций, форми- рующих психоэмоциональное напряжение
            td 21,43
            td 19,05
            td 23,81
            td 35,71
            td.txt_gradient-att 100%
  .to-profile.txt_centr
    button.btn.btn_att Перейти в личный кабинет
    p Результаты диагностики были отправленны Вам на почту.
    p Там же вы сможете посмотреть свой 
      strong логин и пароль от личного кабинета.
  .results__footer.txt_centr
    img(src="assets/img/logo.png", alt="best life")
    p Зная свой результат Вам будет интересно познакомиться
      br
      strong
        span.tooltip с мыслингом
          span.tooltip__inner тренировка свойств мышления человека, направленная на реорганизацию опасных свойств с целью совершенствования полезных свойств и повышения психоэмоциональной стабильности.
        | «Лучшая Life» 
    button.btn.btn_empty
      p
        span ознакомиться