extends layout/main

block title
	|Главная

block content
	
	//banner
	section.banner
		.container
			.banner__inner
				h1.h1.banner__title Узнай свой показатель жизненной силы!
				p.h4.banner__subtitle Живая игра позволит определить 
					br
					|насколько ты готов выживать в этом мире!
				button.btn.btn_att Участвовать в игре
	
	//rules
	section.rules
		.container
			.rules__info
				h2.h2.rules__title Правило игры: вышибают слабейшего
				p Став участником “Живой игры” можно узнать величину своего стресса - 
					strong психоэмоционального напряжения
					|, и понять, почему ты слаб. Тебя ожидает соревнование по “эффективности” твоих Жизненных сил!
				p Итак, 
					strong главное правило игры: 
					| у кого больше стресс, тот и слабее, тот и проиграл, тот и вылетает из игры!
				p 
					strong Сколько ты сможешь удержаться, чтобы тебя не “вышибло” из игры? Не окажись слабейшим!
				button.btn.btn_empty
					p
						span Участвовать в игре
			.rules__img
				img(src="assets/img/rules.png", alt="rules")

	//thinks
	section.thinks
		button.to
			svg.icon
				use(xlink:href="assets/img/sprite.svg#icon-arr-b")
		.container_min
			h2.h2.thinks__title Мысли: польза или вред
			p Ты скажешь, что думать можно и во вред себе, мышление ведь 
				strong это просто механизм достижения нужного тебе результата. 
			p Да, ты попал в точку!
			p Человек может мыслить как с пользой для себя, так и во вред себе. Ход его мыслей может быть направлен на достижение чего-то полезного, а может подводить человека к опасности. Ученые называют это 
				strong "полезными" 
				| свойства мышления и 
				strong "опасными" 
				| свойства мышления.

			.example
				p.example__txt Примеры 
					strong "опасных" 
					| свойств мышления человека
				button.btn.btn_empty.js-modal(data-modal="modal-think")
					p
						span Ознакомиться

			p Ход мысли приводит к психоэмоциональному напряжению, отношения рушатся, человек начинает ошибаться, принимает "неверные" решения во всех сферах жизни. И порой остается один, а неверно сделанные шаги мучают его до конца жизни, сказываются на его настроении и здоровье. Часто о таких людях говорят: у него испортился характер. Нет, просто 
				strong он находится в очень сильном психоэмоциональном напряжении.
			p Итак, мы хорошо знаем, что напряжение и стресс приводят к болезням, уменьшению продолжительности жизни, повышению смертности, а самое страшное становится причиной случаев внезапной смерти.

	//stress
	section.stress
		.container
			.stress__item
				.stress__info
					h2.h2 Стресс – это "слабость" нашего организма
					p 
						strong Стресс - это психоэмоционального напряжения. Мы часто слышим о вреде стресса для здоровья. 
					p Организм в экстремальной для себя ситуации не может адекватно отреагировать: встретил на улице хулиганов и почувствовал дрожь или слабость в коленках. Что произошло? Тело вместо того, чтобы собраться, полностью дезорганизовано. А ведь бывают случаи, что от страха у человека останавливается сердце. Как так? Это что за безумный механизм самоуничтожения, почему тело не борется за выживание?
				.stress__img
					img(src="assets/img/stress.png", alt="stress")
			.stress__item.stress__item_reverse
				.stress__info
					p 
						strong Тело сильно повреждается от стресса, потому что не готово жить под управлением того мышления, которое сформировалось у человека к моменту стрессового удара. 
					p Есть люди, которые в стрессовой ситуации смогли выжить, которые смогли сообразить, что нужно делать. 
					p Почему же такие люди справляются с невероятно тяжелыми ситуациями? Значить их 
						strong жизненная сила оказалась достаточной, чтобы преодолеть все трудности, 
						| которые им были даны: они не отчаялись, не впали в уныние!

					button.btn.btn_att Участвовать в игре
				.stress__img
					img(src="assets/img/thinks.png", alt="thinks")

	//form-block
	section.form-block
		.form-block__inner
			h2.h2 Измерь свой стресс
			p Став участником “Живой игры” можно узнать величину своего стресса - 
				strong психоэмоционального напряжения
				| , и понять, почему ты слаб. Тебя ожидает соревнование по “эффективности” твоих Жизненных сил!
			form.form(action="")
				label.form__field
					p Имя
					input.input(type="text" name="name")
				label.form__field
					p Электронная почта
					input.input(type="email" name="email")
				label.form__field.form__field_half
					p Пол
					.select
						select(name="sex")
							option(value="m") Мужчина
							option(value="fm") Женщина
						svg.icon
							use(xlink:href="assets/img/sprite.svg#icon-arr-b")
				label.form__field.form__field_half
					p Регоин
					.select
						select(name="locale")
							option(value="brest") Брест
							option(value="minsk") Минск
						svg.icon
							use(xlink:href="assets/img/sprite.svg#icon-arr-b")
							
				button(type="submit").btn.btn_att Начать Самодиагностику

	//training
	section.training
		.container_min
			header.training__head
				h2.h2 Тренинг-мыслинг
				img(src="assets/img/logo.png", alt="best life")
			
			p
				strong
					span.tooltip Мыслинг
						span.tooltip__inner тренировка свойств мышления человека, направленная на реорганизацию опасных свойств с целью совершенствования полезных свойств и повышения психоэмоциональной стабильности.
					| «Лучшая Life» 
				| это полтора месяца твоей жизни, посвящённые  переходу от одного качества жизни, которое тебя не удовлетворяет, к другому, к лучшему! Это каждодневное совершенствование свойств мышления.
			p
				strong Полуторамесячная тренировка свойств мышления проходит
				| по методике, которую постепенно, этап за этапом участник осваивает двумя взаимодополняющими способами занятий:
				strong со специалистом и самостоятельно.
			p За полтора месяца следует освоить 
				strong одиннадцать последовательных тем методики 
				| плюс завершающее занятие – обсуждение достигнутых результатов на основе твоего мнения,  первичного и итогового результатов Самодиагностики.  
			p
				strong Итого,
					span.tooltip мыслинг
						span.tooltip__inner тренировка свойств мышления человека, направленная на реорганизацию опасных свойств с целью совершенствования полезных свойств и повышения психоэмоциональной стабильности.
					| «Лучшая Life»: шесть недель совершенстования! 72 часа тренировок! 12 занятий со специалистами!
			button.btn.btn_att Перейти к мыслингу
		button.to
			svg.icon
				use(xlink:href="assets/img/sprite.svg#icon-arr-b")

	//reviews
	section.reviews
		.container
			h2.h2.reviews__title Отзывы участников Живой игры
			.slider
				button.slick__prev
					svg.icon
						use(xlink:href="assets/img/sprite.svg#icon-arr-b")
				button.slick__next
					svg.icon
						use(xlink:href="assets/img/sprite.svg#icon-arr-b")
				.slider-items
					section.review
						header.review__header
							.review__author
								img(src="assets/img/author.png", alt="author")
							.review__titles
								h3.h3.review__title Антонов Михаил
								p.review__subtitle Боксер, участник MMA
						.review__txt
							p Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст- заполнитель или же текст-наполнитель. Иногда текст- «рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Рыбный ...
							.review__btn
								button.btn.btn_att.js-modal(data-modal="modal-slider" data-slide="0") Читать полностью
					section.review
						header.review__header
							.review__author
								img(src="assets/img/author2.png", alt="author")
							.review__titles
								h3.h3.review__title Флексова Анастасия
								p.review__subtitle Учитель в престижной школе
						.review__txt
							p Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст- заполнитель или же текст-наполнитель. Иногда текст- «рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Рыбный ...
							.review__btn
								button.btn.btn_att.js-modal(data-modal="modal-slider" data-slide="1") Читать полностью
					section.review
						header.review__header
							.review__author
								img(src="assets/img/author.png", alt="author")
							.review__titles
								h3.h3.review__title Антонов Михаил
								p.review__subtitle Боксер, участник MMA
						.review__txt
							p Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст- заполнитель или же текст-наполнитель. Иногда текст- «рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Рыбный ...
							.review__btn
								button.btn.btn_att.js-modal(data-modal="modal-slider" data-slide="2") Читать полностью

	.idea-block
		.idea-wrapp
			.idea__item
			.idea__item.idea__item_sm
			section.idea
				h2.h2.idea__title Идея Живой Игры
				p.idea__txt Вы всегда можете более подробно ознакомиться с идеей Живой Игры, нажав на кнопку ниже
				button.btn.btn_empty
					p
						span ознакомиться
			.info

	//modal-contact
	#modal-contact.modal-block
		.modal-wrapp
			.modal
				.modal__inner
					.contacts
						h2.h2.contacts__title Контакты
						.contact
							strong.contact__name Телефон:
							a.contact__val.link(href="tel:+79250467998 ") +7 925 046 79 98 
						.contact
							strong.contact__name E-mail:
							a.contact__val.link(href="mailto:life@npifm.ru") life@npifm.ru 

				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-think
	#modal-think.modal-block
		.modal-wrapp
			.modal
				.modal__inner
					.examples
						h2.h2.examples__title Примеры "опасных" свойств мышления человека
						.examples-item
							span.examples-item__num.h1 1
							p.examples-item__txt Например, подростковый
								strong "зацепинг",
								| когда дети прицепляются к поездам, или группы смерти, в которых детям прививают такой ход мышления, который приводит к их добровольному самоубийству. 
						.examples-item
							span.examples-item__num.h1 2
							p.examples-item__txt Крикливая вечно недовольная медсестра в регистратуре в поликлинике. Посетители не любят этих женщин в регистратуре, они вечно вас шпыняют. Они недовольная всем. Такой человек в регистратуре постоянно общается с измученными болезнями людьми, они не самые приветливые среди людей. В такой стрессовой ситуации 
								strong мозг ищет самый простой и короткий путь прекратить этот стресс: 
								| дать раздраженному посетителю "отворот-поворот". Постоянное повторение такого хода реакции закрепляет ее автоматизм. В итоге человек в регистратуре не просто сам находится в постоянном стрессе, но еще и отшивает больных, которые приходят за помощью.
								br
								strong Итог: человек находятся в постоянном стрессе и загоняет туда других. 
						.examples-item
							span.examples-item__num.h1 3
							p.examples-item__txt 
								strong Конфликт с собственными родителями, или с родителями жены.
								| Таких конфликтов много и многие семьи сталкивались с бесконечными взаимными претензиями, за которыми уже нет желаемых простых и радостных отношений.
				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-login
	#modal-login.modal-block
		.modal-wrapp
			.modal
				.modal__inner
					form(action="").login
						h2.h2.login__title Войти в личный кабент
						label.form__field
							p E-mail
							input.input(type="email" name="email")
						label.form__field
							p Пароль
							.password
								input.input(type="password" name="pass")
								button.password__toggle
									img(src="assets/img/eay.svg", alt="eay")
									span Показать пароль
						a.link.link_prim(href="") Забыли пароль?
						button.btn.btn_primery Войти

				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-slider
	#modal-slider.modal-block
		.modal-wrapp
			.modal.modal_md
				.slider
					button.slick__prev
						svg.icon
							use(xlink:href="assets/img/sprite.svg#icon-arr-b")
					button.slick__next
						svg.icon
							use(xlink:href="assets/img/sprite.svg#icon-arr-b")
					.slider-items
						section.review.review_full
							header.review__header
								.review__author
									img(src="assets/img/author.png", alt="author")
								.review__titles
									h3.h3.review__title Антонов Михаил
									p.review__subtitle Боксер, участник MMA
							.review__txt
								p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения.
								p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
								p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения. Преимущественно конечно, если рыбный текст кажется в некоторой степени реалистичным, не искажая тем самым воздействие макета финальной публикации.
						section.review.review_full
							header.review__header
								.review__author
									img(src="assets/img/author2.png", alt="author")
								.review__titles
									h3.h3.review__title Флексова Анастасия
									p.review__subtitle Учитель в престижной школе
							.review__txt
								p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения.
								p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
								p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения. Преимущественно конечно, если рыбный текст кажется в некоторой степени реалистичным, не искажая тем самым воздействие макета финальной публикации.
						section.review.review_full
							header.review__header
								.review__author
									img(src="assets/img/author.png", alt="author")
								.review__titles
									h3.h3.review__title Антонов Михаил
									p.review__subtitle Боксер, участник MMA
							.review__txt
								p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения.
								p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
								p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения. Преимущественно конечно, если рыбный текст кажется в некоторой степени реалистичным, не искажая тем самым воздействие макета финальной публикации.
				button.modal__close
					img(src="assets/img/close.svg", alt="close")