extends layout/main

block title
	|Главная

block content
	
	//banner
	section.banner
		.container
			.banner__inner
				h1.h1.banner__title Узнай свой показатель жизненной силы!
				p.h4.banner__subtitle Живая игра позволит определить 
					br
					|насколько ты готов выживать в этом мире!
				button.btn.btn_att Участвовать в игре
	
	//rules
	section#rules.rules
		.container
			h2.h2.rules__title 
				span Правило игры: вышибают слабейшего
			.rules__info
				p Став участником “Живой игры” можно узнать величину своего стресса - 
					strong психоэмоционального напряжения
					|, и понять, почему ты слаб. Тебя ожидает соревнование по “эффективности” твоих Жизненных сил!
				p Итак, 
					strong главное правило игры: 
					| у кого больше стресс, тот и слабее, тот и проиграл, тот и вылетает из игры!
				p 
					strong Сколько ты сможешь удержаться, чтобы тебя не “вышибло” из игры? Не окажись слабейшим!
				button.btn.btn_empty
					p
						span Участвовать в игре
			.rules__img
				img(src="assets/img/rules.png", alt="rules")

	//thinks
	section.thinks
		button.to
			svg.icon
				use(xlink:href="assets/img/sprite.svg#icon-arr-b")
		.container_min
			h2.h2.thinks__title Мысли: польза или вред
			p Ты скажешь, что думать можно и во вред себе, мышление ведь 
				strong это просто механизм достижения нужного тебе результата. 
			p Да, ты попал в точку!
			p Человек может мыслить как с пользой для себя, так и во вред себе. Ход его мыслей может быть направлен на достижение чего-то полезного, а может подводить человека к опасности. Ученые называют это 
				strong "полезными" 
				| свойства мышления и 
				strong "опасными" 
				| свойства мышления.

			.example
				p.example__txt Примеры 
					strong "опасных" 
					| свойств мышления человека
				button.btn.btn_empty.js-modal(data-modal="modal-think")
					p
						span Ознакомиться

			p Ход мысли приводит к психоэмоциональному напряжению, отношения рушатся, человек начинает ошибаться, принимает "неверные" решения во всех сферах жизни. И порой остается один, а неверно сделанные шаги мучают его до конца жизни, сказываются на его настроении и здоровье. Часто о таких людях говорят: у него испортился характер. Нет, просто 
				strong он находится в очень сильном психоэмоциональном напряжении.
			p Итак, мы хорошо знаем, что напряжение и стресс приводят к болезням, уменьшению продолжительности жизни, повышению смертности, а самое страшное становится причиной случаев внезапной смерти.

	//stress
	section.stress
		.container
			h2.h2.stress__title Стресс – это "слабость" нашего организма
			.stress__item
				.stress__info
					p 
						strong Стресс - это психоэмоционального напряжения. Мы часто слышим о вреде стресса для здоровья. 
					p Организм в экстремальной для себя ситуации не может адекватно отреагировать: встретил на улице хулиганов и почувствовал дрожь или слабость в коленках. Что произошло? Тело вместо того, чтобы собраться, полностью дезорганизовано. А ведь бывают случаи, что от страха у человека останавливается сердце. Как так? Это что за безумный механизм самоуничтожения, почему тело не борется за выживание?
				.stress__img
					img(src="assets/img/stress.png", alt="stress")
			.stress__item.stress__item_reverse
				.stress__info
					p 
						strong Тело сильно повреждается от стресса, потому что не готово жить под управлением того мышления, которое сформировалось у человека к моменту стрессового удара. 
					p Есть люди, которые в стрессовой ситуации смогли выжить, которые смогли сообразить, что нужно делать. 
					p Почему же такие люди справляются с невероятно тяжелыми ситуациями? Значить их 
						strong жизненная сила оказалась достаточной, чтобы преодолеть все трудности, 
						| которые им были даны: они не отчаялись, не впали в уныние!

					button.btn.btn_att Участвовать в игре
				.stress__img
					img(src="assets/img/thinks.png", alt="thinks")

	//form-block
	section#diagnostic.form-block
		.form-block__bg
		.form-block__inner
			h2.h2.form-block__title Измерь свой стресс
			.form-block__header
				p.h4 
					strong Пройди Самодиагностику и стань участником Живая Игра!
				p 
					strong Узнай про свои слабости! 
					| Полученный твой результат будет автоматически сравниваться с результатами Самодиагностики приглашенных тобой участников из твоего окружения и всё время формировать актуальную 
					strong твою Жизненную Силу.
					| Чем больше сравнений с приглашенными тобой участниками, тем выше ранг твоей Жизненной силы. Чем больше психоэмоциональное напряжение у твоих приглашенных участников игры, тем больше величина твоей Жизненной силы.
				p
					strong Тебя ожидает соревнование по “эффективности” твоих Жизненных сил!
			form.form(action="")
				label.form__field.err
					p Имя
					input.input(type="text" name="name" placeholder="Иван" required)
				label.form__field
					p Электронная почта
					input.input(type="email" name="email"  placeholder="ivan@mail.ru" required)
				label.form__field.form__field_half
					p Пол
					.select
						select(name="sex" required)
							option(value="" disabled selected style='display:none;') Выбрать
							option(value="m") Мужчина
							option(value="fm") Женщина
						svg.icon
							use(xlink:href="assets/img/sprite.svg#icon-arr-b")
				label.form__field.form__field_half
					p Регоин
					.select.js-select
						.js-select-field
							input.input(name="locale" required placeholder="Выбрать" disabled)
						.select__list
							input.input.js-search(name="search" placeholder="Искать...")
							ul.select__items
								li.select__item Брест
								li.select__item Минск
								li.select__item Брест
								li.select__item Минск
								li.select__item Брест
								li.select__item Минск
								li.select__item Брест
								li.select__item Минск
								li.select__item Брест
								li.select__item Минск
								li.select__item Брест
								li.select__item Минск
								li.select__item Брест
								li.select__item Минск
						//- select(name="locale" required)
						//- 	option(value="" disabled selected style='display:none;') Выбрать
						//- 	option(value="brest") Брест
						//- 	option(value="minsk") Минск
						svg.icon
							use(xlink:href="assets/img/sprite.svg#icon-arr-b")
							
				button(type="submit").btn.btn_att.js-test Начать Самодиагностику

		//tests
		.tests
			.pagination
				button.pagination__item
					a(href="profile.html")
						span
							svg.icon
								use(xlink:href="assets/img/sprite.svg#icon-user")
				button.pagination__item.js-pagination.pagination__item_att(data-page="1") 
					span 1
				button.pagination__item.js-pagination(data-page="2") 
					span 2
				button.pagination__item.js-pagination(data-page="3") 
					span 3
				button.pagination__item.js-pagination(data-page="4") 
					span 4

			section.test.page.page_active(data-page="1")
				header.test__head
					h2.h2.test__title Рассогласование IV типа
					h4.h4.test__subtitle переживание “страха неудачи”
				
				p 
					strong возникает при предвидении неприятной ситуации, которая формируется при несовпадении результата действия и соответствующего ожидания. 
				p Чаще всего такое рассогласование называют неопределенностью, сомнительностью, мнительностью, тревогой, страхом, фобией и т.д. 
					strong IV-тип рассогласования или «страх» 
					| - это есть реакция на ожидание неприятного переживания. Переживание страха неудачи 
					strong обычно возникает в ситуациях, когда результат действий может оказаться ниже ожиданий. 
					| Чем больше стремление к успеху, чем больше неопределенности в ситуации, тем сильнее может быть страх неудачи. Этот страх усиливается также от сознания значимости результата, от связи данного страха с другими переживаниями, а также от отношения окружающих.
				
				.instruction
					.info-line
						img(src="assets/img/info.svg", alt="info")
						| Вспомните ситуацию, когда вы потерпели неудачу

					p.instruction__txt Представьте отчетливо эту ситуацию, обстоятельства, людей, вовлеченных в нее, общение с ними, разговоры и так далее. отметьте в приведенном ниже списке все мысли, похожие на те, которые обычно у вас возникают в подобных ситуациях.

					.steps
						figure.step
							img(src="assets/img/interview.svg", alt="interview")
							figcaption 1. Представте ситуацию
						figure.step
							img(src="assets/img/happy.svg", alt="happy")
							figcaption 2. Вспомните чувства
						figure.step
							img(src="assets/img/check-list.svg", alt="check-list")
							figcaption 3. Найдите похожее описание
						figure.step
							img(src="assets/img/check.svg", alt="check")
							figcaption 4. Отметьте подходящие
						figure.step
							img(src="assets/img/share.svg", alt="share")
							figcaption 5. Перейдите к следующему шагу

				form(action="").tests__form
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я так и знал, этого достичь было невозможно

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ведь предвидел неудачу!

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Ну и дурак же я, как я не додумал и кое-что упустил?
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Почему же так получилось?
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p У меня в жизни больше ничего не выйдет хорошего
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я хуже всех

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Сам виноват, надо было больше работать (учиться, тренироваться и т.д.)

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p У меня есть тот, кто мне поможет пережить это

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Мои друзья разделят последствия моей неудачи

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p А какие минусы были бы, если бы мне повезло и был успех?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Стоит подумать о плюсах моей неудачи

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Опыт неудачи важнее опыта успеха

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Это мне специально подстроили

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Те, кто оценивает успех, несправедливы ко мне

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Все это мне было ни к чему

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я им это припомню и кое-что устрою

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Это избавляет меня от продолжения этого неприятного дела

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я займусь кое-чем другим, более интересным

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Мне не хотелось бы это обсуждать с кем-либо

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Не желаю никого видеть и общаться, побуду один

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Мне просто не везет

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Может быть, я такой неспособный?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Им, вероятно, будет стыдно за меня

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Они не захотят иметь со мной дела

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я неудачник

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Впереди мне ничего "не светит"

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я еще раз попробую достичь успеха

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ни на что не способен

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Этот успех был бы мне ни к чему

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Неудача случайна: стечение обстоятельств

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p За одного битого двух небитых дают; неудачи закаляют

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Что, собственно, случилось?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Успех ко многому обязывает, а это мне ни к чему

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Думаю о том, как бы мне скрыть неудачу от других и не показать виду, что меня это трогает

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Возникают мысли, похожие на мысль «да не очень-то и хотелось»

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p А как я буду об этом говорить с отцом или матерью, с близкими?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Как об этом скажу тому, кто меня любит?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Что будут говорить об этом те, кого радует моя неудача?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Интересно, кто же из моих знакомых по этому поводу будет злорадствовать?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Как мне извлечь пользу из своей неудачи?

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Окружающие, наверное, теперь от меня откажутся, не пожелают со мною иметь дела, будут считать неудачником

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Они изменят мнение обо мне в плохую сторону	
			section.page(data-page="2")
				header.test__head
					h2.h2.test__title Рассогласование III типа
					h4.h4.test__subtitle переживание “стыда”
				
				p 
					strong возникает когда параметры результата моих действий, состояния, облика не соответствуют моим ожиданиям.
				p Чаще всего такое рассогласование называют переживанием стыда.
					strong Такой тип рассогласования или «переживание стыда» формирует отрицательную биологическую эмоцию и сопровождается неприятными переживаниями.
					strong Чувство стыда также переживается, когда мы смотрим на себя глазами других.
				
				.instruction
					.info-line
						img(src="assets/img/info.svg", alt="info")
						| Вспомните ситуацию, когда вы испытывали "ПЕРЕЖИВАНИЕ СТЫДА".

					p.instruction__txt Представьте отчетливо эту ситуацию, обстоятельства, людей, вовлеченных в нее, общение с ними, разговоры и так далее. отметьте в приведенном ниже списке все мысли, похожие нате, которые обычно у вас возникают в подобных ситуациях.

					.steps
						figure.step
							img(src="assets/img/interview.svg", alt="interview")
							figcaption 1. Представте ситуацию
						figure.step
							img(src="assets/img/happy.svg", alt="happy")
							figcaption 2. Вспомните чувства
						figure.step
							img(src="assets/img/check-list.svg", alt="check-list")
							figcaption 3. Найдите похожее описание
						figure.step
							img(src="assets/img/check.svg", alt="check")
							figcaption 4. Отметьте подходящие
						figure.step
							img(src="assets/img/share.svg", alt="share")
							figcaption 5. Перейдите к следующему шагу

				form(action="").tests__form
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p КАК Я ДОШЕЛ ДО ТАКОЙ ЖИЗНИ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ИХ НЕНАВИЖУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЛЮБОЙ ДРУГОЙ МОГ ОКАЗАТЬСЯ В ТАКОМ ЖЕ ПОЛОЖЕНИИ..
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p МНЕ ПОДСТРОИЛ ЭТО...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЛУЧШЕ БЫ Я С ЭТИМ НЕ СВЯЗЫВАЛСЯ...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ДА, Я ТАКОЙ, СО МНОЮ ЭТО БЫВАЕТ, И Я ПРИНИМАЮ СЕБЯ ТАКИМ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ХОЧУ БЫТЬ С ТЕМИ, КТО ЗНАЕТ ОБ ЭТОМ СЛУЧАЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ИХ НЕНАВИЖУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ ВСЕ ТАКИЕ ЖЕ, КАК И Я, НО ХОРОШО ЭТО СКРЫВАЮТ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОКАЖИСЬ ОНИ В ЭТОТ СИТУАЦИИ, НАВЕРНЯКА ВЕЛИ БЫ СЕБЯ ХУЖЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ХОТЕЛОСЬ БЫ СТАТЬ ИНЫМ, НО ВЕДЬ НЕ СМОГУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕСЛИ БЫ ЭТО ПОВТОРИЛОСЬ, Я ПОСТУПИЛ БЫ ИНАЧЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p БЫЛ БЫ ЭТО ЛИШЬ СОН...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПУСТЬ МНЕ БУДЕТ ПЛОХО ЗА ЭТО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ХОТЕЛ БЫ ИСЧЕЗНУТЬ, ПРОВАЛИТЬСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я САМ В ЭТОМ ВИНОВАТ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ХОЧУ ОБ ЭТОМ ДУМАТЬ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ХОЧУ, ЧТОБЫ МЕНЯ ПОЖАЛЕЛИ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НО ЧТО ДЕЛАТЬ, ЕСЛИ ТАК ОБСТОИТ ДЕЛО, ТАК ПОЛУЧИЛОСЬ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ВСЕ ОНИ ТАКИЕ, ТАК ПОСТУПАЮТ, НЕ ТОЛЬКО Я...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ТОЛЬКО КОЗЕЛ ОТПУЩЕНИЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p УЖЕ ЗАВТРА ПЕРЕСТАНУ ОБ ЭТОМ ДУМАТЬ И НАЧНУ ВСЕ ЗАНОВО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ТАК МНЕ И НАДО, ДУМАТЬ НАДО БЫЛО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЭХ, НАЧАТЬ БЫ ВСЕ СНАЧАЛА!...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕСТЬ ЛЮДИ, КОТОРЫЕ ПОЙМУТ, КТО ПРАВ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПОКАЮСЬ ПЕРЕД ДРУЗЬЯМИ ОБИЖЕННОГО, РАССКАЖУ, ПОЧЕМУ Я ЭТО СДЕЛАЛ.

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕМУ ОБЪЯСНЯТ, ЧТО НЕ СЛЕДОВАЛО БЫ ОБИЖАТЬСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ ЖЕ НЕПРАВЫ , ОЖИДАЯ ОТ МЕНЯ ЭТОГО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p А КАК Я ДОЛЖЕН БЫЛ БЫ ВЕСТИ СЕБЯ, ЧТОБЫ МНЕ НЕ БЫЛО СТЫДНО?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ВСЕГДА ЖЕ БЫТЬ ПРИЛИЧНЫМ, УМНЫМ, ЧЕСТНЫМ, ХОРОШИМ!...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ОДИН Я ТАКОЙ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ВСЕ ТАК ПОСТУПАЮТ, НО СОЗНАТЕЛЬНО И УСПЕШНО СКРЫВАЮТ ЭТО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЗАТО Я УВАЖАЮ СЕБЯ В ЧЕМ-ТО ДРУГОМ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ВАМ ЭТО ПРИПОМНЮ, ВЫ ВИДЕЛИ МЕНЯ В СТЫДЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПОТОМ Я ПОКАЖУ СЕБЕ И ДРУГИМ, НА ЧТО Я СПОСОБЕН...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p СТАНУ ЛУЧШЕ, А СТЫД - МНЕ НАПОМИНАНИЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p А ПОЧЕМУ Я ДОЛЖЕН БЫТЬ ДРУГИМ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ЗДЕСЬ НИ ПРИ ЧЕМ, ВСЕ ПРОИЗОШЛО СЛУЧАЙНО, ТАКОВЫ ОБСТОЯТЕЛЬСТВА..

			section.page(data-page="3")
				header.test__head
					h2.h2.test__title Рассогласование II типа
					h4.h4.test__subtitle переживание “ВИНЫ”
				
				p 
					strong возникает когда параметры результата моего не соответствуют ожиданиям другого, значимого для меня человека.
				p Чаще всего такое рассогласование называют переживанием вины.
					strong Такой тип рассогласования или «переживание вины» формирует отрицательную биологическую эмоцию и сопровождается неприятными переживаниями.
					strong Чувство вины также переживается, когда обида причиняется другому человеку.
				
				.instruction
					.info-line
						img(src="assets/img/info.svg", alt="info")
						| Вспомните ситуацию, когда вы были виноваты.

					p.instruction__txt Представьте отчетливо эту ситуацию, обстоятельства, людей, вовлеченных в нее, общение с ними, разговоры и так далее. отметьте в приведенном ниже списке все мысли, похожие нате, которые обычно у вас возникают в подобных ситуациях.

					.steps
						figure.step
							img(src="assets/img/interview.svg", alt="interview")
							figcaption 1. Представте ситуацию
						figure.step
							img(src="assets/img/happy.svg", alt="happy")
							figcaption 2. Вспомните чувства
						figure.step
							img(src="assets/img/check-list.svg", alt="check-list")
							figcaption 3. Найдите похожее описание
						figure.step
							img(src="assets/img/check.svg", alt="check")
							figcaption 4. Отметьте подходящие
						figure.step
							img(src="assets/img/share.svg", alt="share")
							figcaption 5. Перейдите к следующему шагу

				form(action="").tests__form
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ХОЧУ БЫТЬ С ТЕМИ, КТО ЗНАЕТ ОБ ЭТОМ СЛУЧАЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p СДЕЛАЮ ВСЕ, ЧТО УГОДНО, ЧТОБЫ ЗАГЛАДИТЬ ВИНУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ХОЧУ ОБ ЭТОМ ДУМАТЬ...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ САМИ ВИНОВАТЫ...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ ОТ МЕНЯ ХОТЯТ БОЛЬШЕ, ЧЕМ Я МОГУ...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЧТО ЖЕ ДЕЛАТЬ, ЕСЛИ ОНИ НЕ ПРИНИМАЮТ МЕНЯ ТАКИМ, КАКОВ Я ЕСТЬ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p МЕНЯ ТАКИМ СДЕЛАЛА ЖИЗНЬ, ВОСПИТАНИЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я - ХОРОШИЙ, НО ОБСТОЯТЕЛЬСТВА...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЛЮБОЙ ДРУГОЙ ПОСТУПИЛ БЫ В ЭТИХ ОБСТОЯТЕЛЬСТВАХ ТАК ЖЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ДА, Я ТАКОЙ! НУ И ЧТО ЖЕ ТЕПЕРЬ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕСЛИ БЫ ЭТО ПОВТОРИЛОСЬ, Я ПОСТУПИЛ БЫ ИНАЧЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕСЛИ БЫ ЭТО БЫЛ ТОЛЬКО СОН!...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ТАК МНЕ И НАДО, ЕСЛИ Я ТАКОЙ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p СДЕЛАЛ БЫ ЧТО УГОДНО, ЧТОБЫ ЗАГЛАДИТЬ ВИНУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПУСТЬ МНЕ БУДЕТ ПЛОХО ИЛИ БОЛЬНО, Я ЗАСЛУЖИЛ ЭТО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЧЕМ МНЕ ХУЖЕ, ТЕМ, НАВЕРНОЕ, ЛУЧШЕ, ЕСЛИ Я ТАКОЙ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПУСТЬ БЫ ОНИ СДЕЛАЛИ СО МНОЙ ТО ЖЕ, ЧТО И Я С НИМИ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ГОРИ ОНО СИНИМ ОГНЕМ, МЕНЯ ЭТО НЕ КАСАЕТСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p КАК МНЕ ПОСЛЕ ЭТОГО ОБЩАТЬСЯ С НИМИ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я СЕБЯ НЕНАВИЖУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ДОСТОИН ПРЕЗРЕНИЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ДУМАТЬ НАДО БЫЛО О ПОСЛЕДСТВИЯХ, О ТОМ, КАК ОНИ ОТНЕСУТСЯ К ЭТОМУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ХОЧУ БЫТЬ ОДИН, И ТОГДА НИКТО НЕ БУДЕТ НА МЕНЯ ОБИЖАТЬСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p В КАКОМ СЛУЧАЕ ОНИ НА МЕНЯ НЕ ОБИДЕЛИСЬ БЫ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p БЫСТРЕЕ БЫ ЭТО КОНЧИЛОСЬ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НАДО ЧТО-ТО СДЕЛАТЬ, ЧТОБЫ ЗАГЛАДИТЬ ВИНУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p А КАК МНЕ СЛЕДОВАЛО БЫ ВЕСТИ СЕБЯ В ЭТОЙ СИТУАЦИИ, ЧТОБЫ НА МЕНЯ НЕ ОБИЖАЛИСЬ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ВСЕ РАВНО НЕ СМОГ БЫ БЫТЬ ТАКИМ ЧЕЛОВЕКОМ, НА КОТОРОГО БЫ НЕ ОБИЖАЛИСЬ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОТКУДА ОНИ ВЗЯЛИ, ЧТО Я ДОЛЖЕН БЫТЬ ТАКИМ, КАКИМ ОНИ ХОТЯТ МЕНЯ ВИДЕТЬ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ ТОЖЕ МЕНЯ ОБИЖАЛИ И НАВЕРНЯКА ЕЩЕ ОБИДЯТ, ЧТО ЖЕ Я ПЕРЕЖИВАЮ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПУСТЬ ОНИ ПЕРЕВАРЯТ ЭТО. БЫВАЕТ ХУЖЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ТАК ИМИ НАДО, Я ПОСТУПИЛ ПРАВИЛЬНО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p МИР ТАК УСТРОЕН, И НЕ Я ЕГО ПРИДУМАЛ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПУСТЬ ОБИЖАЮТСЯ, ЕСЛИ ОНИ НЕ ПРИНИМАЮТ МЕНЯ И ПЛОХИМ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я В ЭТО ВРЕМЯ ПЛОХ, И ЭТИМ ВСЕ СКАЗАНО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ДУМАЮ, КАК ПОПРОСИТЬ ПРОЩЕНИЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕТ МНЕ ПРОЩЕНИЯ...

			section.page(data-page="4")
				header.test__head
					h2.h2.test__title Рассогласование I типа
					h4.h4.test__subtitle переживание “обиды”
				
				p 
					strong возникает когда параметры результата действия другого, значимого человека, не соответствуют моим ожиданиям.
				p Чаще всего такое рассогласование называют переживанием обиды.
					strong Такой тип рассогласования или «переживание обиды» формирует отрицательную биологическую эмоцию и сопровождается неприятными переживаниями.
					strong Чувство стыда также переживается, когда мы смотрим на себя глазами других.
				
				.instruction
					.info-line
						img(src="assets/img/info.svg", alt="info")
						| Вспомните ситуацию, когда вы были обижены на близких, на друга, на старшего.
						br
						| (руководителя, преподавателя и пр.)

					p.instruction__txt Представьте отчетливо эту ситуацию, обстоятельства, людей, вовлеченных в нее, общение с ними, разговоры и так далее. отметьте в приведенном ниже списке все мысли, похожие нате, которые обычно у вас возникают в подобных ситуациях.

					.steps
						figure.step
							img(src="assets/img/interview.svg", alt="interview")
							figcaption 1. Представте ситуацию
						figure.step
							img(src="assets/img/happy.svg", alt="happy")
							figcaption 2. Вспомните чувства
						figure.step
							img(src="assets/img/check-list.svg", alt="check-list")
							figcaption 3. Найдите похожее описание
						figure.step
							img(src="assets/img/check.svg", alt="check")
							figcaption 4. Отметьте подходящие
						figure.step
							img(src="assets/img/share.svg", alt="share")
							figcaption 5. Перейдите к следующему шагу

				form(action="").tests__form
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я НЕСЧАСТЕН...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПОЖАЛУЮСЬ ДРУГУ ОБИДЧИКА...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p БУДУ МОЛИТЬСЯ, ЧТОБЫ БОГ ЕГО ВРАЗУМИЛ...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НИКТО МЕНЯ НЕ ЛЮБИТ...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НИКОМУ Я НЕ НУЖЕН...
							
							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p В СЛЕДУЮЩИЙ РАЗ Я С НИМИ ПОСТУПЛЮ ТАК ЖЕ, КАК ОНИ СО МНОЙ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ИМ ЕЩЕ ПОКАЖУ!...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЛУЧШЕ БЫ ЕГО ЗДЕСЬ НЕ БЫЛО ВОВСЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p А КАК ЕМУ СЛЕДОВАЛО БЫ ВЕСТИ СЕБЯ, ЧТОБЫ Я НЕ ОБИДЕЛСЯ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПОЧЕМУ ОН ВЕЛ СЕБЯ ТАК, А НЕ ИНАЧЕ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕМУ СЛЕДОВАЛО БЫ ВЕСТИ СЕБЯ ИНАЧЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЭТО НА НЕГО НЕ ПОХОЖЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ОЖИДАЛ, ЧТО ОН БУДЕТ ВЕСТИ СЕБЯ ТАК...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕМУ БУДЕТ СТЫДНО ПЕРЕД ЕГО РОДИТЕЛЯМИ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p У МЕНЯ ЕСТЬ КОМУ ТЕБЯ УБЕДИТЬ, ЧТО ТЫ НЕПРАВ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЗНАЙ, ЧТО У МЕНЯ ЕСТЬ КОМУ МЕНЯ ПОЖАЛЕТЬ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ НИКОГДА НЕ УВИДЯТ НА МОЕМ ЛИЦЕ РАДОСТИ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ИМ НЕ ДАМ ПОРАДОВАТЬСЯ, ПОКАЗАВ СВОЮ ОБИДУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ПОКАЖУ ИМ, ЧТО Я ОБИЖЕН, ПУСТЬ НЕ РАДУЮТСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ИМ ТЕПЕРЬ ПРИДЕТСЯ ОБХОДИТЬСЯ БЕЗ МЕНЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ БУДУТ СТРАДАТЬ ОТ ЧУВСТВА ВИНЫ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p БОЛЬШЕ Я ЭТОГО НЕ ВЫНЕСУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НИКОГДА НЕ БУДУ ДЛЯ НИХ СТАРАТЬСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ БУДУ ИМЕТЬ С НИМИ ДЕЛА...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p БОЖЕ! ПОЧЕМУ ОНИ ТАКИЕ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОНИ МОГЛИ БЫ БЫТЬ ЛУЧШЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПОЧЕМУ ДРУГИЕ ТАК НЕ ПОСТУПАЮТ СО МНОЙ?...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p МНЕ БОЛЬНО В ЛЮДЯХ РАЗОЧАРОВЫВАТЬСЯ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я НЕ НУЖДАЮСЬ В ЕГО УСЛУГАХ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПУСТЬ МНЕ БУДЕТ ПЛОХО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ОН ПОТОМ ПОЖАЛЕЕТ, НО БУДЕТ ПОЗДНО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ ТОЛЬКО МНЕ, НО И ИМ ПЛОХО ПУСТЬ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ИМ ПОТОМ БУДЕТ СТЫДНО, ЧТО ОНИ ТАК ПОСТУПИЛИ СО МНОЙ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ПОЗАБОЧУСЬ О ТОМ, ЧТОБЫ ВСЕ ЗНАЛИ, КАК ОНИ МЕНЯ ОБИДЕЛИ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ПОТОМ ПОЖАЛУЮСЬ НА ОБИДЧИКА ЕМУ ЖЕ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я ОБИДЕЛСЯ, А ВЕДЬ ОН СВОБОДЕН И ВПРАВЕ ПОСТУПАТЬ КАК ЕМУ УГОДНО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p Я БЫ НЕ ХОТЕЛ, ЧТОБЫ ОН СТРАДАЛ ОТ ЧУВСТВА ВИНЫ, А СВОЮ ОБИДУ Я ПЕРЕЖИВУ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПРИ СЛУЧАЕ Я С НИМИ ПОСТУПЛЮ ТАК ЖЕ, КАК И ОНИ СО МНОЙ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ПЕРЕСТАНУ С НИМИ ИМЕТЬ ДЕЛО...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p НЕ БУДУ ОБЩАТЬСЯ С НИМИ...	

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ВСЕ ПОЙМУТ, КАКОВЫ Я И ОНА...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p У МЕНЯ ВСЕ РАВНО ЕСТЬ ЗАЩИТА, И ОНИ МЕНЯ НЕ ОБИЖАЮТ...

							label.checkbox
								input(type="checkbox" name="" value="")
								.checkbox__inner
									.checkbox-view
										span
											svg.icon
												use(xlink:href="assets/img/sprite.svg#icon-check")
									p ЕСЛИ БЫ КТО ОБЪЯСНИЛ ЕМУ, КАК ОН НЕСПРАВЕДЛИВ КО МНЕ..		

			.tests__control
				button(type="submit").btn.btn_primery.js-page-prev Назад
				button(type="submit").btn.btn_att.js-page-next Далее

		include ./section/result

	//training
	section#l-life.training
		.container_min
			header.training__head
				h2.h2 Тренинг-мыслинг
				a.link(href="https://l-life.ru/")
					img(src="assets/img/logo.png", alt="best life")
			
			p
				strong
					span.tooltip Мыслинг
						span.tooltip__inner
							span.tooltip__inner-arr
							| тренировка свойств мышления человека, направленная на реорганизацию опасных свойств с целью совершенствования полезных свойств и повышения психоэмоциональной стабильности.
					| «Лучшая Life» 
				| это полтора месяца твоей жизни, посвящённые  переходу от одного качества жизни, которое тебя не удовлетворяет, к другому, к лучшему! Это каждодневное совершенствование свойств мышления.
			p
				strong Полуторамесячная тренировка свойств мышления проходит
				| по методике, которую постепенно, этап за этапом участник осваивает двумя взаимодополняющими способами занятий:
				strong со специалистом и самостоятельно.
			p За полтора месяца следует освоить 
				strong одиннадцать последовательных тем методики 
				| плюс завершающее занятие – обсуждение достигнутых результатов на основе твоего мнения,  первичного и итогового результатов Самодиагностики.  
			p
				strong Итого,
					span.tooltip мыслинг
						span.tooltip__inner
							span.tooltip__inner-arr
							| тренировка свойств мышления человека, направленная на реорганизацию опасных свойств с целью совершенствования полезных свойств и повышения психоэмоциональной стабильности.
					| «Лучшая Life»: шесть недель совершенстования! 72 часа тренировок! 12 занятий со специалистами!
			.txt_centr
				a(href="" data-section="#diagnostic").link.btn.btn_att.js-scroll Начать самодиагностику
		button.to
			svg.icon
				use(xlink:href="assets/img/sprite.svg#icon-arr-b")

	//reviews
	section#reviews.reviews
		.container
			h2.h2.reviews__title Отзывы участников Живой игры
			.slider
				button.slick__prev
					svg.icon
						use(xlink:href="assets/img/sprite.svg#icon-arr-b")
				button.slick__next
					svg.icon
						use(xlink:href="assets/img/sprite.svg#icon-arr-b")
				.slider-items
					section.review
						header.review__header
							.review__author
								img(src="assets/img/author.png", alt="author")
							.review__titles
								h3.h3.review__title Антонов Михаил
								p.review__subtitle Боксер, участник MMA
						.review__txt
							p Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст- заполнитель или же текст-наполнитель. Иногда текст- «рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Рыбный ...
							.review__btn
								button.btn.btn_att.js-modal(data-modal="modal-slider" data-slide="0") Читать полностью
					section.review
						header.review__header
							.review__author
								img(src="assets/img/author2.png", alt="author")
							.review__titles
								h3.h3.review__title Флексова Анастасия
								p.review__subtitle Учитель в престижной школе
						.review__txt
							p Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст- заполнитель или же текст-наполнитель. Иногда текст- «рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Рыбный ...
							.review__btn
								button.btn.btn_att.js-modal(data-modal="modal-slider" data-slide="1") Читать полностью
					section.review
						header.review__header
							.review__author
								img(src="assets/img/author.png", alt="author")
							.review__titles
								h3.h3.review__title Антонов Михаил
								p.review__subtitle Боксер, участник MMA
						.review__txt
							p Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст- заполнитель или же текст-наполнитель. Иногда текст- «рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Рыбный ...
							.review__btn
								button.btn.btn_att.js-modal(data-modal="modal-slider" data-slide="2") Читать полностью

	.idea-block
		.idea-wrapp
			.idea__item
			.idea__item.idea__item_sm
			section.idea
				h2.h2.idea__title Идея Живой Игры
				p.idea__txt Вы всегда можете более подробно ознакомиться с идеей Живой Игры, нажав на кнопку ниже
				button.btn.btn_empty.js-modal(data-modal="modal-idea")
					p
						span ознакомиться
			.info

	//modal-contact
	#modal-contact.modal-block
		.modal-wrapp
			.modal
				.modal__inner
					.contacts
						h2.h2.contacts__title Контакты
						.contact
							strong.contact__name Телефон:
							a.contact__val.link(href="tel:+79257084835 ") +7 925 708 48 35 
						.contact
							strong.contact__name E-mail:
							a.contact__val.link(href="mailto:l-g@live-g.ru ") l-g@live-g.ru 

				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-think
	#modal-think.modal-block
		.modal-wrapp
			.modal
				.modal__inner
					.examples
						h2.h2.examples__title Примеры "опасных" свойств мышления человека
						.examples-item
							span.examples-item__num.h1 1
							p.examples-item__txt Например, подростковый
								strong "зацепинг",
								| когда дети прицепляются к поездам, или группы смерти, в которых детям прививают такой ход мышления, который приводит к их добровольному самоубийству. 
						.examples-item
							span.examples-item__num.h1 2
							p.examples-item__txt Крикливая вечно недовольная медсестра в регистратуре в поликлинике. Посетители не любят этих женщин в регистратуре, они вечно вас шпыняют. Они недовольная всем. Такой человек в регистратуре постоянно общается с измученными болезнями людьми, они не самые приветливые среди людей. В такой стрессовой ситуации 
								strong мозг ищет самый простой и короткий путь прекратить этот стресс: 
								| дать раздраженному посетителю "отворот-поворот". Постоянное повторение такого хода реакции закрепляет ее автоматизм. В итоге человек в регистратуре не просто сам находится в постоянном стрессе, но еще и отшивает больных, которые приходят за помощью.
								br
								strong Итог: человек находятся в постоянном стрессе и загоняет туда других. 
						.examples-item
							span.examples-item__num.h1 3
							p.examples-item__txt 
								strong Конфликт с собственными родителями, или с родителями жены.
								| Таких конфликтов много и многие семьи сталкивались с бесконечными взаимными претензиями, за которыми уже нет желаемых простых и радостных отношений.
				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-login
	#modal-login.modal-block
		.modal-wrapp
			.modal
				.modal__inner
					form(action="").login
						h2.h2.login__title Войти в личный кабент
						label.form__field
							p E-mail
							input.input(type="email" name="email" placeholder="ivan@mail.ru")
						label.form__field
							p Пароль
							.password
								input.input(type="password" name="pass" placeholder="")
								button.password__toggle
									img(src="assets/img/eay.svg", alt="eay")
									span Показать пароль
						a.link.link_prim(href="") Забыли пароль?
						button.btn.btn_primery
							a(href="profile.html") Войти

				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-slider
	#modal-slider.modal-block.modal-block_hided
		.modal-wrapp
			.modal.modal_md
				.modal__inner
					.slider
						button.slick__prev
							svg.icon
								use(xlink:href="assets/img/sprite.svg#icon-arr-b")
						button.slick__next
							svg.icon
								use(xlink:href="assets/img/sprite.svg#icon-arr-b")
						.slider-items
							section.review.review_full
								header.review__header
									.review__author
										img(src="assets/img/author.png", alt="author")
									.review__titles
										h3.h3.review__title Антонов Михаил
										p.review__subtitle Боксер, участник MMA
								.review__txt
									p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения.
									p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
									p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения. Преимущественно конечно, если рыбный текст кажется в некоторой степени реалистичным, не искажая тем самым воздействие макета финальной публикации.
							section.review.review_full
								header.review__header
									.review__author
										img(src="assets/img/author2.png", alt="author")
									.review__titles
										h3.h3.review__title Флексова Анастасия
										p.review__subtitle Учитель в престижной школе
								.review__txt
									p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения.
									p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
									p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения. Преимущественно конечно, если рыбный текст кажется в некоторой степени реалистичным, не искажая тем самым воздействие макета финальной публикации.
							section.review.review_full
								header.review__header
									.review__author
										img(src="assets/img/author.png", alt="author")
									.review__titles
										h3.h3.review__title Антонов Михаил
										p.review__subtitle Боксер, участник MMA
								.review__txt
									p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения.
									p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
									p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения. Преимущественно конечно, если рыбный текст кажется в некоторой степени реалистичным, не искажая тем самым воздействие макета финальной публикации.
				button.modal__close
					img(src="assets/img/close.svg", alt="close")

	//modal-idea
	#modal-idea.modal-block
		.modal-wrapp.modal-wrapp_full
			.modal.modal_full
				.modal__inner
					article.modal-idea
						.container_min
							header.modal-idea__head
								h1.h1.modal-idea__title.txt_centr Идея Живой Игры
								h3.h3.txt_gradient.txt_centr Девиз: Не вылети из жизни!

							.text-block
								.text-block__inner
									p Это игра на выживание!
									p Эта игра позволит определить насколько ты готов выжить в этом мире! 
							
							p Ты не животное. Животное выживает благодаря своим когтям и зубам. Зубы у тебя не очень (тигровой акулы 280 зубов, а у человека - 32), а на ногти вообще не приходится надеяться. Так почему человек самое выживающее живое существо на Земле? 
							p На земле около 7,6 млрд человек и около 400 амурских тигров и около 10 тысяч голубых китов. Что делает человека "успешным" в его выживании на Земле?

							section.section
								h2.h2.section__title Давай разберемся
								p Человечество выжило благодаря своей голове. Он смог придумать как выжить. Когда борьба за еду, жилье и безопасность лежали на самом человеке – рост населения был невысок. Но человек смог договориться с другими людьми и  придумать, как сделать жизнь легче – сначала палка-копалка, затем стиралка, а теперь смартфон. 
								p Амурские тигры или голубые киты не смогли договориться между собой, хоть они и общаются (киты слышат голос сородичей на расстоянии до 1,6 тыс км без раций), и находятся на грани исчезновения.
								p
									strong Есть два пути добиться успеха в жизни: натренировать навык и спланировать:

								p.list Животное может приобрести только навык ("звериное чутье" – это опыт чужих зубов и клыков на своей шкуре). 
								p.list Человек может делать и то и другое: и получить навык (интуиция – опыт "набитых шишек"), и спланировать будущее. Хорошо продуманный план позволял человеку в звериной шкуре побеждать гигантских мамонтов.

								p
									strong Поэтому человек лидер в этом мире! 
								p Человек может достигать чего-то полезного для себя как и животное через тренировку (обезьянка научилась доставать банан с дерева, маленький львенок охотиться на лань, родители научили завязывать шнурки, сам научился кататься на велосипеде). Это то, что нас объединяет с животными.
								p Человек единственное живое существо на Земле, у которого есть абстрактное мышление! Что это? Это возможность планировать будущее.
								p Но возможность думать – мыслить абстрактно – это дар, который дан только человеку. Результат абстрактного мышления – автомобиль, самолет, оружие. Это возможность быстрого, а порой сверхскоростного передвижение по земле, воде и воздуху. Невозможно такой скорости научиться путем дрессировки. Мышление позволяет поставить цель – например, быстро передвигаться по воздуху – и сконструировать для этого специальное приспособление. Первый вертолет придумал еще Леонардо да Винчи. Собачка или дельфин не могут придумать вертолет.
								figure.img
									img(src="assets/img/bg10.png", alt="animal")

							section.section
								h2.h2.section__title А зачем человек изобретает?

								p Цель проста – сделать жизнь более простой и легкой. До 20 века существовала профессия прачки, она освобождала других людей от необходимости стирать белье. И это облегчало жизнь многих людей. В начале 20 века придумали стиральную машину и это избавило от тяжелого труда подавляющее большинство людей на земле, всех тех, кто не имел возможности нанимать прачек. Стиральная машина – очень полезное изобретение!
								p В науке это называется – 
									strong "полезный результат", но мы скажем просто – 
									strong польза.

								.quote
									.quote__header
										img(src="assets/img/mortarboard.png", alt="mortarboard")
										p.txt_gradient-att Для любознательных от учёных
									blockquote Цель уникальной способности человека "думать", изобретать – принести пользу себе и окружающим. Это одна из добродетелей человека – оказание помощи своему окружению. Это помогает выжить и самому человеку и всему человеческому роду. Назовем это ключевое условие успешности человеческого рода – 
										strong "взаимосодействие" для достижения пользы.

							section.section
								h2.h2.section__title Мысли: польза или вред 
								p Ты скажешь, что думать можно и во вред себе, мышление ведь это просто механизм достижения нужного тебе результата. 
								p Да, ты попал в точку!
								p.caption.caption_selected Следствием мыслей Гитлера стала колоссальная трагедия. Разработка своих планов террористом приводит к ужасающим результатам. И не меньшая трагедия, если человек замыслил покончить жизнь самоубийством.
								p Человек может мыслить как с пользой для себя, так и во вред себе. Ход его мыслей может быть направлен на достижение чего-то полезного, а может подводить человека к опасности.  Ученые называют это 
									strong "полезными" 
									| свойствами мышления и 
									strong "опасными" 
									| свойствами мышления.
								p.caption.caption_selected Например, подростковый "зацепинг", когда дети прицепляются к поездам, или группы смерти, в которых детям прививают такой ход мышления, который приводит к их добровольному самоубийству. 
								p Это яркие примеры. Но бывает и незаметный для окружающих и для самого человека опасный ход мышления. Приведем пример:
								p.caption.caption_selected крикливая вечно недовольная медсестра в регистратуре в поликлинике. Посетители не любят этих женщин в регистратуре, они вечно вас шпыняют. Она недовольная всем. Такой человек в регистратуре постоянно общается с измученными болезнями людьми, они не самые приветливые среди людей. В такой стрессовой ситуации мозг ищет самый простой и короткий путь прекратить этот стресс: дать раздраженному посетителю "отворот-поворот". Постоянное повторение такого хода реакции закрепляет ее автоматизм. В итоге человек в регистратуре не просто сам находится в постоянном стрессе, но еще и отшивает больных, которые приходят за помощью. Итог: человек находится в постоянном стрессе и загоняет туда других.
								p Ты скажешь: это жизненная, но достаточно анекдотическая ситуация! Хорошо. Возьмем другую:
								p.caption.caption_selected конфликт с собственными родителями, или с родителями жены. Таких конфликтов много и многие семьи сталкивались с бесконечными взаимными претензиями, за которыми уже нет желаемых простых и радостных отношений.
								p Что происходит с этими людьми? Их ход мысли (опасное для них мышление) приводит к психоэмоциональному напряжению, отношения рушатся, человек начинает ошибаться, принимает "неверные" решения во всех сферах жизни. И порой остается один, а неверно сделанные шаги мучают его до конца жизни, сказываются на его настроении и здоровье. Часто о таких людях говорят: у него испортился характер. Нет, просто он находится в очень сильном психоэмоциональном напряжении.

								.quote
									.quote__header
										img(src="assets/img/mortarboard.png", alt="mortarboard")
										p.txt_gradient-att Для любознательных от учёных
									blockquote Немного о терминах: стресс – это психоэмоциональное напряжение, относительная жизненная сила – это сравнение уровня психоэмоциональное напряжение или стресса одного человека относительно уровня такого же напряжения (стресса) другого человека или группы людей.
								p Итак, мы хорошо знаем, что напряжение и стресс приводят к болезням, уменьшению продолжительности жизни, повышению смертности, а самое страшное становится причиной случаев внезапной смерти. Врачи в популярных программах на телевидении постоянно говорят об этом.
								p А теперь…
								p …вспомни египетского комментатора, который умер на Чемпионате мира по футболу в России, потому что не выдержал третьего подряд поражения своей команды в групповом этапе.  

							section.section
								h2.h2.section__title Стресс – это "слабость". Разберемся в этом?
								p Стресс - это психоэмоционального напряжения. Мы часто слышим о вреде стресса для здоровья. . Но как померить этот ущерб здоровью от стресса или как говорят ученые – от психоэмоционалного напряжения?
								p Все просто. Вот формула для измерения: 
									img.formula(src="assets/img/formul.png", alt="formula")
								p Я рад, что Вы улыбнулись! Вернемся к ней позже в "Правилах игры. Для любознательных от учёных". Сначала нужно сделать небольшое отступление и ответить на вопрос, 
									strong что такое стресс для нашего тела.
								figure.img
									img(src="assets/img/stress2.png", alt="stress")
								p 
									strong Стресс – это "слабость" 
									| нашего организма. Организм в экстремальной для себя ситуации не может адекватно отреагировать: встретил на улице хулиганов и почувствовал дрожь или слабость в коленках. Что произошло? Тело вместо того, чтобы собраться, полностью дезорганизовано. А ведь бывают случаи, что от страха у человека останавливается сердце.  Как так? Почему организм сам взял и остановил собственное сердце? Это что за безумный механизм самоуничтожения, почему тело не борется за выживание? Что это за мысль внушенная телу покончить автоматически жизнь самоубийством перед трудностями? Что это за слабость?
								figure.img
									img(src="assets/img/thinks2.png", alt="thinks")
								p 
									strong Тело умирает или сильно повреждается от стресса, потому что не готово жить под управлением того мышления, которое сформировалось у человека к моменту стрессового удара. 
								p Значит 
									strong виновато не тело, а наши мысли, 
									| правила нашего мышления. 
								p 
									strong Да, если у тебя стресс – ты слаб!
								p А ведь есть люди, которые в стрессовой ситуации смогли выжить, которые смогли сообразить, что нужно делать, например Алексей Маресьев. (Перечитайте "Повесть о настоящем человеке", это очень крутая история)
								p Хм… почему такие люди справляются с невероятно тяжелыми ситуациями? 
								p Значить их 
									strong жизненная сила оказалась достаточной, чтобы преодолеть все трудности, 
									| которые им были даны: они не отчаялись, не впали в уныние, не покончили жизнь самоубийством! 
								.quote
									.quote__header
										img(src="assets/img/mortarboard.png", alt="mortarboard")
										p.text_gradient-att Для любознательных от учёных
									blockquote Для определения уровня внутреннего стресса важно понимать, как думает человек, как идет ход его мыслей. Слабость – результат деструктивного, опасного хода мыслей. А сила, внутреннее спокойствие и крепость – следствие мышления направленного на получение позитивного, полезного и радостного для человека результата, результата, который принесет удовлетворение.

							section.section
								h2.h2.section__title Правило игры: вышибают слабейшего
								p Став участником "Живой игры" можно узнать величину твоего стресса и понять, почему ты слаб. 
								p Да, тебя ожидает соревнование по "эффективности" твоих Жизненных сил!

								p.h4.txt_gradient-att Принцип отбора:
								p Мы взяли принцип отбора из практики Олимпийских игр и Чемпионата мира по футболу FIFA – в соревновании принимают участие те, кто изъявил желание и прошел квалификацию (самодиагностику).

								p.h4.txt_gradient-att Главное Правило:
								p 
									strong Выбывает слабейший!
								p Итак, 
									strong главное правило игры: 
									| у кого 
									strong больше стресс,
									| тот и слабее, 
									strong тот и проиграл,
									| тот и вылетает из игры! 
								p Как в детской игре "Вышибалы", нужно чтобы в тебя не попал мяч. В нашем случае "мячом" является стресс, который вышибает тебя из жизни! 
								p Это правило, как ты узнал ранее, мы взяли из жизни: менее эффективен в жизни тот, кто не может выйти из своего психоэмоционального напряжения, погибает тот, кто стал жертвой своего стресса. 
								p 
									strong Поиграем? 
								p 
									strong Сколько ты сможешь удержаться, чтобы тебя не "вышибло" из игры?  
								p 
									strong Не окажись слабейшим!

							section.section
								h2.h2.section__title Измерь твой стресс
								p Простое и быстрое решение такой многофакторной задачи под силу компьютерной программе, для создания которой была сформирована группа высококлассных специалистов, сумевших воплотить идею "Живой игры" в жизнь!
								p Открытый Чемпионат по естественному отбору проходит в рамках Гуманитарного проекта «Пространство физиологии мышления (Школа долгожития и здравомыслия)». 
								p Для вступления в "Живую игру" необходимо пройти Самодиагностику величины психоэмоционального напряжения!

							.modal-idea__bottom
								h3.h3.txt_centr УЧАСТВУЙ В ЧЕМПИОНАТЕ!
								h3.h3.txt_centr НЕ ВЫЛЕТИ ИЗ ЖИЗНИ!

								utton.btn.btn_att Участвовать в игре
				button.modal__close
					img(src="assets/img/close.svg", alt="close")