extends layout/main

block title
	|Главная

block content
	
	//banner
	section.banner
		.container
			.banner__inner
				h1.h1.banner__title Узнай свой показатель жизненной силы!
				p.h4.banner__subtitle Живая игра позволит определить 
					br
					|насколько ты готов выживать в этом мире!
				button.btn.btn_att Участвовать в игре
	
	//rules
	section.rules
		.container
			.rules__info
				h2.h2.rules__title Правило игры: вышибают слабейшего
				p Став участником “Живой игры” можно узнать величину своего стресса - 
					strong психоэмоционального напряжения
					|, и понять, почему ты слаб. Тебя ожидает соревнование по “эффективности” твоих Жизненных сил!
				p Итак, 
					strong главное правило игры: 
					| у кого больше стресс, тот и слабее, тот и проиграл, тот и вылетает из игры!
				p 
					strong Сколько ты сможешь удержаться, чтобы тебя не “вышибло” из игры? Не окажись слабейшим!
				button.btn.btn_empty
					p
						span Участвовать в игре
			.rules__img
				img(src="assets/img/rules.png", alt="rules")

	//thinks
	section.thinks
		.to
			svg.icon
				use(xlink:href="assets/img/sprite.svg#icon-arr-b")
		.container_min
			h2.h2.thinks__title Мысли: польза или вред
			p Ты скажешь, что думать можно и во вред себе, мышление ведь 
				strong это просто механизм достижения нужного тебе результата. 
			p Да, ты попал в точку!
			p Человек может мыслить как с пользой для себя, так и во вред себе. Ход его мыслей может быть направлен на достижение чего-то полезного, а может подводить человека к опасности. Ученые называют это 
				strong "полезными" 
				| свойства мышления и 
				strong "опасными" 
				| свойства мышления.

			.example
				p.example__txt Примеры 
					strong "опасных" 
					| свойств мышления человека
				button.btn.btn_empty
					p
						span Ознакомиться

			p Ход мысли приводит к психоэмоциональному напряжению, отношения рушатся, человек начинает ошибаться, принимает "неверные" решения во всех сферах жизни. И порой остается один, а неверно сделанные шаги мучают его до конца жизни, сказываются на его настроении и здоровье. Часто о таких людях говорят: у него испортился характер. Нет, просто 
				strong он находится в очень сильном психоэмоциональном напряжении.
			p Итак, мы хорошо знаем, что напряжение и стресс приводят к болезням, уменьшению продолжительности жизни, повышению смертности, а самое страшное становится причиной случаев внезапной смерти.

	//stress
	section.stress
		.container
			.stress__item
				.stress__info
					h2.h2 Стресс – это "слабость" нашего организма
					p 
						strong Стресс - это психоэмоционального напряжения. Мы часто слышим о вреде стресса для здоровья. 
					p Организм в экстремальной для себя ситуации не может адекватно отреагировать: встретил на улице хулиганов и почувствовал дрожь или слабость в коленках. Что произошло? Тело вместо того, чтобы собраться, полностью дезорганизовано. А ведь бывают случаи, что от страха у человека останавливается сердце. Как так? Это что за безумный механизм самоуничтожения, почему тело не борется за выживание?
				.stress__img
					img(src="assets/img/stress.png", alt="stress")
			.stress__item.stress__item_reverse
				.stress__info
					p 
						strong Тело сильно повреждается от стресса, потому что не готово жить под управлением того мышления, которое сформировалось у человека к моменту стрессового удара. 
					p Есть люди, которые в стрессовой ситуации смогли выжить, которые смогли сообразить, что нужно делать. 
					p Почему же такие люди справляются с невероятно тяжелыми ситуациями? Значить их 
						strong жизненная сила оказалась достаточной, чтобы преодолеть все трудности, 
						| которые им были даны: они не отчаялись, не впали в уныние!

					button.btn.btn_att Участвовать в игре
				.stress__img
					img(src="assets/img/thinks.png", alt="thinks")