extends layout/inner

block title
  | Пригласить участников

block content
  include ./section/bredcrumbs
  .settings-block
    .container_min
      h1.h4
        a(href="profile.html").settings-block__title.link
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-shape")
          | Пригласить участников
      
      .get-link
        h2.h4.get-link__title Ссылка для участников
        p.caption Скопируйте данную ссылку и отправьте своим знакомым, чтобы пригласить их в Живую игру
        .get-link__action
          label.form__field
            input#link.input(type="text" value="https://www.zhivaya-igra.ru/262195465.5a89e47996134234255")
          button.btn.btn_empty.js-copy(data-clipboard-target="#link")
            p
              span Cкопировать

      .social
        h2.h4.social__title Пригласите участников в социальных сетях
        a.tw.social__link(href="") Twitter
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-link")
        a.vk.social__link(href="") Вконтакте
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-link")
        a.od.social__link(href="") Одноклассники
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-link")
        a.fb.social__link(href="") Facebook
          svg.icon
            use(xlink:href="assets/img/sprite.svg#icon-link")

      .who
        h2.h4.who__title Кого можно пригласить?
        .collapse
          .collapse__head
            strong Жену
            svg.icon
              use(xlink:href="assets/img/sprite.svg#icon-arr-b")
          .collapse__body
            p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения. 
            p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
            p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения.

        .collapse
          .collapse__head
            strong Коллег
            svg.icon
              use(xlink:href="assets/img/sprite.svg#icon-arr-b")
          .collapse__body
            p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения. 
            p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
            p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения.

        .collapse
          .collapse__head
            strong Родственника
            svg.icon
              use(xlink:href="assets/img/sprite.svg#icon-arr-b")
          .collapse__body
            p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения. 
            p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
            p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения.

        .collapse
          .collapse__head
            strong Одногруппников
            svg.icon
              use(xlink:href="assets/img/sprite.svg#icon-arr-b")
          .collapse__body
            p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения. 
            p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
            p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения.

        .collapse
          .collapse__head
            strong Соседа
            svg.icon
              use(xlink:href="assets/img/sprite.svg#icon-arr-b")
          .collapse__body
            p Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. По причине своей функции текста-заполнителя для макетов нечитабельность рыбных текстов имеет особое значение, так как человеческое восприятие имеет особенность, распознавать определенные образцы и повторения. 
            p В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора). Поэтому большинство рыбных текстов состоят из более или менее произвольного набора слов и слогов. 
            p Таким образом образцы повторения не отвлекают от общей картины, а шрифты имеют лучшую базу сравнения.