<!DOCTYPE html>
<html lang="ru">
  <head>
    <title> 
    </title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Test">
    <meta name="description" content="Test">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--opengraf-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <!--favicon-->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <!--header-->
    <header class="header">
      <div class="wrapper">
        <img class="logo" src="assets/img/logo.png" alt="Лучшая Life">
        <nav class="menu">
          <a class="js-scroll-link" href="" data-section="#reasons">для кого</a>
          <a class="js-scroll-link" href="" data-section="#about">о мыслинге</a>
          <a class="js-scroll-link" href="" data-section="#life">зависимость</a>
          <a class="js-scroll-link" href="" data-section="#prices">формы участия</a>
          <a class="js-scroll-link" href="" data-section="#usefulls">материалы</a>
          <a class="js-scroll-link" href="" data-section="#contacts">контакты</a>
        </nav>
        <button class="menu__control">
          <svg class="icon icon_close">
            <use xlink:href="assets/img/sprite.svg#icon-close"></use>
          </svg>
          <svg class="icon icon_open">
            <use xlink:href="assets/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </header>
    <!--main-->
    <main class="main">
    </main>
    <!--footer-->
    <footer class="footer">
      <div class="wrapper">
        <p>Сайт создан в 2018 году на платформе...</p>
      </div>
    </footer>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>