body {
	display: flex;
  flex-direction: column;
	min-height: 100vh;
	font-family: 'Lato';
	font-size: @base-font;
	color: @c-base;
}

.main {
	margin-top: 72px;
	flex: 1 0 auto;
}

* {
	box-sizing: border-box;
	&:focus,
	&:active {
		outline: none;
	}
}

.tooltip {
	position: relative;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		bottom: 0;
		height: 6px;
		background: #4D79FF;
		opacity: 0.4;
	}

	&:hover {
		.tooltip__inner {
			opacity: 1;
			pointer-events: initial;
		}
	}

	&__inner {
		font-weight: normal;
		display: block;
		position: fixed;
		opacity: 0;
		pointer-events: none;
		// top: calc(~'100% + 20px');
		// width: 740px;
		// left: 0;
		background: @c-white;
		padding: 16px 24px;
		border: 1px solid rgba(0, 54, 117, 0.1);
		border-radius: 15px;
		box-shadow: 0px 16px 32px rgba(0, 54, 117, 0.1);
		z-index: 3;

		&-arr {
			display: block;
			width: 20px;
			height: 20px;
			transform: rotate(45deg);
			z-index: 0;
			position: absolute;
			background: @c-white;
			// border: 10px solid transparent;
			// border-bottom: 10px solid @c-white;
			bottom: calc(~'100% - 10px');
			box-shadow: -2px -2px 4px rgba(0, 54, 117, 0.1);
		}
	}
}

p {
	line-height: 24px;
}

.txt {
	&_att {
		color: @c-att !important;
	}

	&_gradient {
		background:  @c-gradient;
    -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
		&-att {
			background: @c-gradient2;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	
	&_upper {
		text-transform: uppercase;
	}
	
	&_centr {
		text-align: center;
	}
}
/* стили только для IE10 и IE11 */ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	.txt {
		&_gradient {
			background:  transparent;
			color: @c-prim;

			&-att {
				background:  transparent;
				color: @c-att;
			}
		}
	}
}

.link {
	text-decoration: none;
	transition: all .3s;
	display: inline-block;
	color: inherit;

	
	&_prim {
		color: @c-prim;
	}

	&:hover {
		color: @c-prim !important;
	}
	&.btn {
		color: @c-white;
		&:hover {
			color:  @c-white !important;
		}
	}
}

.contain() {
	padding: 0 15px;
	max-width: 1440px;
	margin: 0 auto;
}

.contain-min() {
	max-width: 740px;
	margin: 0 auto;
}

.container {
	padding: 0 35px;
	max-width: 1190px;
	margin: 0 auto;

	@media @phone {
		padding: 0 16px;
	}

	&_min {
		padding: 0 35px;
		margin: 0 auto;
		max-width: 810px;

		@media @phone {
			padding: 0 16px;
		}
	}
}

// banner
.banner {
	// .contain;
	background: url(../img/top.png) 50% 32% no-repeat;
	background-size: 100%;

	@media @desct {
		background: url(../img/top.png) 50% -110px no-repeat;
	}

	@media @landsc {
		position: relative;
		background: none;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -150px;
			top: 0;
			background: url(../img/top2.png) 35% -70px no-repeat;
			background-size: 100% auto;
			pointer-events: none;
		}
	}

	@media @phone {
		&:before {
			background: url(../img/top3.png) 50% -60px no-repeat;
			background-size: cover;
			position: static;
			height: 490px;
			display: block;
		}
	}

	@media all and (max-width: 360px) {
		&:before {
			height: 290px;
		}

		.btn {
			width: 100%;
		}
	}
	
	.container {
		display: flex;
		align-items: center;
		height: 650px;

		@media @landsc {
			display: block;
			padding-top: 80px;
			padding-bottom: 50px;
			height: auto;
		}

		@media @phone {
			padding-top: 0;
			padding-bottom: 25px;
		}
	}

	&__inner {
		width: 50%;

		@media @landsc {
			width: 63%;
		}

		@media @phone {
			width: 100%;
		}
	}

	&__title {
		margin: 0;
	}

	&__subtitle {
		margin: 15px 0 48px;
	}
}

// rules
.rules {
	padding-bottom: 75px;
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	@media @phone {
		padding-bottom: 50px;
	}

	.btn {
		margin-top: 10px;

		@media @landsc {
			width: 245px;
			margin: auto;
			display: block;
		}
		@media @phone {
			margin-top: 25px;
			width: 100%;
		}

	}

	&__title {
		margin-bottom: -10px;
		width: 100%;
	}

	&__info {
		width: 49.3%;

		@media @landsc {
			width: 100%;
			order: 1;
		}
	}

	&__img {
		width: 47.5%;

		@media @landsc {
			width: 100%;
			max-width: 380px;
			margin: 32px auto 0;
		}

		img {
			width: 100%;
		}
	}
}

// thinks
.thinks {
	padding: 65px 0 70px;
	background: url("../img/bg2.png") 50% no-repeat, #F9FBFF;
	background-size: 100% auto;
	box-shadow: 0 16px 24px	rgba(0, 54, 117, 0.05);
	margin-bottom: 50px;
	position: relative;

	@media @landsc {
		background: url("../img/bg22.png") 50% no-repeat, #F9FBFF;
		padding: 20px 0 70px;
		background-size: 110% auto;
	}
}

.to {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F1F4FF;
	border: 13px solid #F9FBFF;
	border-radius: 50%;
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	margin: auto;	
	box-shadow: 0 16px 24px	rgba(0, 54, 117, 0.05);
	.icon {
		width: 60%;
		height: 14px;
		fill: @c-prim;
	}
}

.example {
	background:  url("../img/sadness.svg") 8.5% 37% no-repeat, url("../img/union.png") 50% 45% no-repeat;
	background-size: auto, 104% auto;
	padding-left: 135px;
	display: flex;
	height: 140px;
	align-items: center;
	width: 102%;

	@media all and (max-width: 680px) {
		background: @c-white;
		.shadow_c;
		border-radius: 36px;
		display: block;
		text-align: center;
		padding: 20px 16px;
		position: relative;
		margin-top: 50px;
		height: auto;

		&:before {
			content: '';
			display: block;
			width: 80px;
			height: 80px;
			background: url("../img/sadness.svg") 50% 15px no-repeat, @c-white;
			background-size: 70%;
			border-radius: 50%;
			box-shadow: 0px -15px 30px rgba(0, 43, 169, 0.03);
			margin: -45px auto 0;
		}
	}

	&__txt,
	.btn {
		transform: translateY(10px);
	}

	&__txt {
		@media @landsc {
			width: calc(~'100% - 200px');
		}
		@media all and (max-width: 680px) {
			width: 100%;
			transform: translateY(0);
		}
	}

	.icon {
		width: 55px;
	}

	.btn {
		margin-left: 20px;
		@media @landsc {
			transform: translateY(10px) translateX(-25px);
			width: 195px;
		}
		@media all and (max-width: 680px) {
			transform: translateY(0) translateX(0);
		}
		@media @phone {
			width: 100%;
		}
		p {
			min-width: 180px;
			padding: 8px 20px;
		}
	}
}

// stress
.stress {
	position: relative;
	z-index: 2;
	padding-top: 100px;

	@media @landsc {
		padding: 40px 0 65px;

		.btn {
			width: 240px;
			display: block;
			margin: 24px auto 0;
		}
	}

	&__title {
		margin-bottom: -90px;

		@media @laptop {
			margin-bottom: -50px;
		}

		@media @tablet {
			margin-bottom: 0;
		}
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		&_reverse {
			flex-direction: row-reverse;
			margin-top: -80px;

			.stress__info {
				width: 50%;

				@media @landsc {
					width: 100%;
					order: 1;
				}

				p {
					padding: 0;
				}
			}

			.stress__img {
				img {
					margin-left: -100px;
					width: auto;
					
				}
				@media @landsc {
					width: 100%;
					max-width: 360px;
					margin: 50px auto 0;
					img {
						margin-left: 0;
						 width: 100%;
					 }
				}
			}
		}
	}

	&__info {
		width: 54%;
		@media @landsc {
			width: 100%;
			order: 1;
		}

		p {
			padding-right: 30px;
		}

		.btn {
			margin-top: 10px;
		}
	}

	&__img {
		width: 46%;
		@media @landsc {
			width: 100%;
			max-width: 360px;
			margin: 50px auto 0;
			img {
				margin-left: 0;
				 width: 100%;
			 }
		}
		img {
			width: 100%;
		}
	}
}

// form-block
.form-block {
	position: relative;
	margin-bottom: 200px;
	background: #F5F7FF;

	@media @landsc {
		padding: 40px 0 60px;
		background: url(../img/bg10.png) 50%  35% no-repeat,  url(../img/bg10-b.png) 0 100% no-repeat, #F5F7FF;
		background-size: 90%;
	}

	@media @phone {
		background: url(../img/bg10.png) 50%  43% no-repeat,  url(../img/bg10-b.png) 0 100% no-repeat, #F5F7FF;
		background-size: 160%;
		margin-bottom: 0;
	}

	.results {
		display: none;
		position: relative;
		margin-top: 150px;
		z-index: 2;

		@media @landsc {
			margin-top: 50px;
		}
	}

	.tests {
		margin-top: 150px;
		@media @landsc {
			margin-top: 50px;
		}
	}

	&__bg {
		position: absolute;
		background: url(../img/bg4-b.png) 0% no-repeat;
		background-size: auto 100%;
		bottom: -380px;
		z-index: 2;
		width: 200px;
		height: 450px;
		pointer-events: none;
		@media @landsc {
			display: none;
		}
	}

	&:before {
		content: '';
    display: inline-block;
    position: absolute;
    top: -380px;
    height: 1000px;
    z-index: 0;
		width: 100%;
		pointer-events: none;
		background:url(../img/bg4-m.png) 50% 90% no-repeat, url(../img/bg4-c.png) 50% 100% no-repeat,url(../img/bg4-r.png) 100% 0 no-repeat, url(../img/bg4-l.png) 0 85% no-repeat, url(../img/bg3-t.png) 50% 28% no-repeat;
		background-size: 1100px auto, 1000px auto, auto, auto, 110% auto;
		
		@media @landsc {
			display: none;
		}
	}

	&:after {
		content: '';
		background: url(../img/bg3-b.png) 50% 75% no-repeat;
		background-size: 100%;
		z-index: -1;
		position: absolute;
		width: 100%;
		bottom: -210px;
		height: 500px;
		pointer-events: none;
			
		@media @landsc {
			display: none;
		}
	}

	&__inner {
		max-width: 550px;
		margin: 100px auto 0;
		position: relative;
		z-index: 1;
		text-align: center;

		
		@media @landsc {
			margin: 0 auto;

			.form {
				margin-top: 290px;
			}
		}

		@media @phone {
			.form {
				margin-top: 200px;
			}
		}
	}
}

// training
.training {
	padding-bottom: 80px;
	margin-top: -80px;
	box-shadow: 0 16px 24px	rgba(0, 54, 117, 0.05);
	margin-bottom: 50px;
	position: relative;
	@media @phone {
		background: url("../img/bg5-1.png") 100% 70% no-repeat, url("../img/bg5-2.png") 100% 0 no-repeat, #F9FBFF;
		padding-top: 120px;
	}

	.btn {
		margin-top: 24px;
		@media @phone {
			width: 100%;
		}
	}

	&:before {
		content: '';
    display: inline-block;
    position: absolute;
    top: -123px;
    height: 120%;
    z-index: -2;
    width: 100%;
		background: url("../img/bg5.png") 50% 100% no-repeat, #F9FBFF;
		background-size: 100% auto;
		@media @phone {
			display: none;
		}
	}

	&__head {
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}

.shadow() {
	box-shadow: 0 16px 24px	rgba(0, 54, 117, 0.1);
}

.shadow_c() {
	box-shadow: 0 4px 16px rgba(0, 54, 117, 0.1);
}

// reviews
.reviews {
	background: url("../img/bg6.png") 50% no-repeat;
	background-size: 100%;
	padding: 10px 0 30px;

	@media @phone {
		background: url("../img/bg6-2.png") 50% 70% no-repeat;
		background-size: 100%;
	}

	&__title {
		text-align: center;
	}
}

.slider {
	position: relative;
	width: 94%;
	margin: 0 auto;
}

.review {
	background: @c-white;
	.shadow;
	margin: 50px 10px;
	border: 1px solid #E1E6F5;
	border-radius: 15px;
	padding: 30px 40px;

	@media @phone {
		padding: 16px 12px;
		margin: 15px 10px 25px;
	}

	&_full {
		box-shadow: none;
		border: none;
		margin: 0 10px;
		padding: 0;


		.review__txt {
			margin-left: 110px;
			max-height: initial;

			@media @landsc {
				margin-left: 0;
			}
		}
	}

	&__titles {
		@media @phone {
			width: 100%;
		}
	}

	p {
		margin-bottom: 0;
	}

	&:hover {
		.review__btn {
			opacity: 1;
			background: rgba(255,255,255,.7);
		}

	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media @phone {
			text-align: center;
		}
	}

	&__title {
		margin: 0;
	}

	&__subtitle {
		margin: 5px 0 0;
		opacity: .5;
	}

	&__author {
		width: 85px;
		height: 85px;
		border-radius: 50%;
		.shadow;
		overflow: hidden;
		margin-right: 25px;

		@media @phone {
			margin-right: 0;
			margin: 0 auto 10px;
		}
	}

	&__txt {
		position: relative;
		max-height: 210px;
		overflow: hidden;
	}

	&__btn {
		transition: all .3s;
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.btn:hover {
			box-shadow: 0 6px 25px -5px @c-att;
		}
	}

}

// idea
.idea {
	border-radius: 30px;
	padding: 48px 70px 32px;
	background: @c-white;
	.shadow;
	z-index: 2;
	position: relative;

	@media @phone {
		padding: 48px 8px 32px;
	}
	
	&-wrapp {
		border-radius: 30px;
		text-align: center;
		width: 100%;
		max-width: 620px;
		margin: auto;
		background: @c-white;
		position: relative;
		.info {
			z-index: 3;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: -50px;
			box-shadow: 0 -15px 54px -20px	rgba(0, 54, 117, 0.1);
		}
	}

	&__item {
		content:'';
		position: absolute;
		width: 89%;
		height: 100%;
		background: #FAFAFA;
		opacity: .9;
		bottom: -24px;
		left: 0;
		right: 0;
		margin: auto;
		.shadow;
		border-radius: 30px;
		z-index: 1;
		display: block;

		&_sm {
			bottom: -48px;
			width: 79%;
			z-index: 0;
		}
	}

	&-block {
		padding: 125px 15px 180px;
		background: url("../img/bg8.png") 50% no-repeat, #F9FBFF;
	}

	&__title {
		margin: 0;
	}

	&__txt {
		margin: 20px 0;
	}


}

.info {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: url("../img/info.png") 50% no-repeat, @c-white;
}

.footer {
	padding-top: 25px;
	background: @c-white;
	border-top: 1px solid #E4E4E4;
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media all and (max-width: 1100px) {
			align-items: flex-start;
			justify-content: flex-end;
		}

		@media @phone {
			justify-content: center;
		}
		&>.caption {
			width: 80%;
			margin-left: auto;
			padding: 15px 0;
			color: @c-base2;
			border-top: 1px solid #E4E4E4;
			@media all and (max-width: 1100px) {
				width: 100%;
				text-align: center;
			}
		}
	}

	.logo {
		@media all and (max-width: 760px) {
			margin: 0 auto 30px;
		}
	}

	.menu{
		@media all and (max-width: 1100px) {
			flex-wrap: wrap;
			width: 50%;
			display: flex;
	
			&__link {
				width: 45%;
				margin: 0 0 15px;
			}

		}
		@media all and (max-width: 760px) {
			width: 75%;
		}

		@media @phone {
			width: 100%;
			align-items: center;
			flex-direction: column;
			&__link {
				width: auto;
				margin-bottom: 24px;
			}
		}
	}
}

.copy {
	background: #F6F8FF;
	text-align: center;
	margin: 0;
	color: @c-base2;
	padding: 8px;
}

// modal
.modal {
	background: @c-white;
	border-radius: 32px;
	min-width: 550px;
	max-width: 96%;
	// max-height: 96vh;
	.shadow;
	position: relative;
	padding: 32px 56px;

	
	@media @phone {
		width: 100%;
		min-width: auto;
		max-width: 100%;
		min-height: 100vh;		
		border-radius: 0;
		padding: 80px 16px 5px;
	}

	
	@media @landsc {
		.slick__next,
		.slick__prev {
			display: none !important;
		}
	}

	&_full {
		width: 100%;
		max-width: 100%;
		min-height: 100vh;		
		border-radius: 0;
		padding: 60px 56px 20px;
		@media @phone {
			width: 100%;
			min-width: auto;
			max-width: 100%;
			max-height: initial;
			border-radius: 0;
			padding: 80px 16px 5px;
		}
	}

	&_colored {
		background: #F5F7FF;
		border-radius: 5px;
		overflow: hidden;
	}

	&_md {
		max-width: 1120px;
	}

	.slider {
		width: 98%;
	}

	&__close {
		background: none;
		border: none;
		cursor: pointer;
		opacity: 0.8;
		transition: all .3s;
		position: absolute;
		right: 23px;
		top: 23px;

		&:hover {
			opacity: 1;
		}
	}

	&-block {
		display: none;
		z-index: 25;
		
		&_hided {
			display: block;
			pointer-events: none;
			.modal-wrapp {
				transition: all .3s;
				opacity: 0;
			}
			
			&.active {
				pointer-events: initial;
				.modal-wrapp {
					opacity: 1;
				}
			}
		}
	}
	
	&-wrapp {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 25;
		background: rgba(223, 229, 236, 0.8);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-y: auto;
		&_full {
			display: block;
		}
		@media @phone {
			display: block;
		}
	}
}

.contacts {
	text-align: center;

	&__title {
		margin-top: 0;
		margin-bottom: 32px;
	}
}

.contact {
	margin-bottom: 10px;
	&__val {
		color: @c-prim;
		font-weight: bold;

		&:hover, &:visited {
			color: @c-att !important;
		}
	}
}

.login {
	max-width: 440px;

	&__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 32px;
	}

	.btn {
		position: absolute;
		width: 160px;
		margin: auto;
		left: 0;
		right: 0;
		bottom: -24px;
		line-height: 28px;
		@media @phone {
			position: static;
			margin: 40px auto 10px;
			display: block;
		}
	}
}

// examples
.examples {
	max-width: 740px;
	margin: 0 40px;
	max-height: 86vh;
	overflow-y: auto;

	@media @phone {
		width: 100%;
		max-height: initial;
		margin: 0;
		overflow-y: visible;
		background:@c-white;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 42px;
	}

	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 15px;

		&__num {
			background:  @c-gradient;
      -webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
				background:  transparent;
				color: @c-prim;
			}
		}

		&__txt {
			max-width: 94%;
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
}

.modal-idea {
	// overflow-y: auto;
	// height: calc(~'96vh - 40px');

	@media @phone {
		overflow-y: visible;
		height: auto;

		.container_min {
			padding: 0;
		}
	}

	&__bottom {
		text-align: center;
		margin: 64px 0 55px;

		.btn {
			margin-top: 25px;
			display: inline-block;
		}
	}
}

.text-block {
	padding: 50px 0;
	background: url('../img/Group2-1.png') 25% 50% no-repeat, url('../img/Group2.png') 75% 50% no-repeat ;
	font-size: 22px;

	&__inner {
		border-radius: 15px;
		.shadow;
		border: 1px solid #E1E6F5;
		background: @c-white;
		padding: 24px 125px;
		text-align: center;

		@media @phone {
			padding: 10px 26px;
		}

		p {
			margin: 0 0 10px;
		}
	}
}

.section {
	&__title {
		margin: 64px 0 24px;
		text-align: center;
		@media @phone {
			margin: 24px 0;
		}
	}
}

.list {
	padding-left: 32px;
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		width: 16px;
		height: 4px;
		background: @c-gradient;
		position: absolute;
		top: 10px;
		left: 0;
	}
}

.img {
	@media @phone {
		width: 100%;
		margin: 10px 0;
	}
	img {
		width: 100%;
	}
}

.quote {
	background: #F9FBFF;
	padding: 18px 24px;
	border-radius: 15px;
	margin: 24px 0;
	&__header {
		font-weight: bold;
		display: flex;
		align-items: center;

		p {
			flex-grow: 1;
		}

		img {
			width: 70px;
			margin-right: 20px;

			@media @phone {
				width: 50px;
			}
		}

	}
	blockquote {
		font-style: italic;
		line-height: 24px;
		margin: 5px 0 0;
	}
}

.pagination {
	background: @c-white;
	border-radius: 60px;
	display: inline-block;
	padding: 6px;
	.shadow_c;
	min-width: 260px;
	
	&__item {
		padding: 0;
		position: relative;
		cursor: pointer;
		width: 30px;
		text-align: center;
		font-weight: bold;
		box-sizing: content-box;
		border: 5px solid transparent;
		border-radius: 50%;
		margin: 0 3px;
		background:  @c-gradient;
    -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
			background:  transparent;
			color: @c-prim;
		}
		
		.icon {
			width: 14px;
			margin-bottom: -2px;
			height: 14px;
			fill: @c-prim;
		}

		&_att {
			background: @c-gradient2;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
				background:  transparent;
				color: @c-att;
			}

			.icon {
				fill: @c-att;
			}
		}

		&:before {
			content: '';
			position: absolute;
			width: 48px;
			height: 48px;
			left: -14px;
			right: 0;
			top: -20px;
			bottom: 0;
			border-radius: 50%;
			border: 5px solid transparent;
		}
		
		&:hover {
			color: @c-white;
			-webkit-text-fill-color: @c-white;
			&:before {
				border-color: @c-white;
				background: @c-gradient;
				.shadow;
			}
			
			span {
				display: block;
				position: relative;
				z-index: 2;
			}
			
			.icon {
				fill: @c-white;
			}
		}

	}

}

.tests {
	display: none;
	background: @c-white;
	.shadow;
	max-width: 990px;
	margin: auto;
	padding: 60px 32px;
	border-radius: 15px;
	position: relative;
	.pagination {
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
	}

	@media @phone {
		padding: 60px 16px;
		margin-bottom: 50px;
	}

	&__control {
		position: absolute;
		bottom: -20px;
		left: 0;
		right: 0;
		text-align: center;

		.btn {
			width: 160px;
			min-width: 160px;
			padding: 10px 25px;
			margin: 0 10px;

			@media @phone {
				width: 130px;
				min-width: 130px;
			}
		}
	}

	&__form {
		max-width: 550px;
		margin: auto;
		font-size: 14px;
	}

}

.test {
	&__title {
		margin: 0;
	}
	&__subtitle {
		margin-top: 0;
		color: @c-base2;
	}
	&__head {
		text-align: center;
	}
}

.instruction {
	.shadow;
	background: @c-white;
	border-radius: 15px;
	padding: 24px;
	margin: 30px 0 50px;

	@media @phone {
		padding: 25px 0;
		border-radius: 0;
		border-bottom: 1px solid @c-base3;
		border-top: 1px solid @c-base3;
		box-shadow: none;
	}

	&__txt {
		color: @c-base2;
	}
}

.info-line {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	img {
		width: 25px;
		margin-right: 8px;
		vertical-align: baseline;
	}
}

.steps {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.step {
	// max-width: 120px;
	width: 16%;
	margin: 0;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	position: relative;

	@media @phone {
		width: 100%;
		display: flex;
		align-items: center;
		text-align: left;
		margin-bottom: 24px;

		&:after {
			display: none;
		}
	}

	&:last-child {
		&:after {
			display: none;
		}
	}

	&:after {
		position: absolute;
		top: 20%;
		right: -35px;
		content: url('../img/arr.svg');
		opacity: 0.5;
	}

	img {
		margin-bottom: 10px;

		@media @phone {
			width: 40px;
			margin-right: 10px;
			margin-bottom: 0;
		}
	}
}

.page {
	display:none;

	&_active {
		display: block;
	}
}

.results {
	background: @c-white;
	.shadow;
	max-width: 990px;
	margin: auto;
	padding: 40px 0;
	border-radius: 15px;

	&__value {
		font-weight: bold;
		font-size: 16px;
		max-width: 435px;
		margin: auto;
		text-align: center;
		padding: 8px 24px 12px;	
		.shadow_c;
		border-radius: 50px;

		@media @phone {
			padding: 12px;
		}
		
		span {
			font-size: 24px;
		}
	}

	&__footer {
		padding: 32px 15px;

		.btn {
			margin-top: 20px;
			p {
				min-width: 180px;
				padding: 8px 20px;
			}
		}
	}
}

.structure {
	margin: 50px auto 90px;

	@media @phone {
		margin: 50px auto;
	}
}

.radial {
	position: relative;

	@media @phone {
		padding: 90px 0;

		canvas {
			width: 100% !important;
		}
	}

	&__lable {
		position: absolute;
		@media @phone {
			width: 125px;
		}
		&_first {
			top: 25px;
			left: 0;
			text-align: right;
		}

		&_second {
			top: 25px;
			right: 0;
		}

		&_third {
			bottom: 25px;
			left: 0;
			text-align: right;
		}

		&_four {
			bottom: 25px;
			right: 0;
		}
		strong {
			text-transform: uppercase;
			display: block;
		}

	}

	&__chart {
		margin: auto;
		width: 80%;
		@media @phone {
			width: 100%;
		}
	}
}

.bars {
	width: 100%;
	@media @phone {
		padding: 0 60px;
		overflow-x: auto;
	}
	
	&__inner {
		margin: 35px 0 150px;
		height: 300px;
		position: relative;
		width: 100%;
		min-width: 670px;
	}
  
  &__axis-y {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &-y {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    
    span {
      position: absolute;
      right: 100%;
      width: 20px;
      text-align: right;
      margin-right: 5px;
    }
    
    i {
       width: 100%;
       border-bottom: 1px solid @c-base;
    }
  }
  
  &__axis-x {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  &-x {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    span {
      position: absolute;
      top: 100%;
    }
    i {
      display: inline-block;
      height: 15px;
      border-right: 1px solid @c-base;
    }
  }
  
  &__chart {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}

.bar {
  background: @c-gradient2;
  position: relative;
	z-index: 1;
	opacity: 0.95;
  
  &:nth-child(2n) {
    background: @c-gradient_bot;
  }
  
  &__info {
    position: absolute;
    bottom: -130px;
    left: 0;
    right: 0;
		text-align: center;

		img {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	
	&__title {
		display: block;
		margin-bottom: 10px;
		span {
			display: block;
			text-transform: uppercase;
		}
	}

	&__subtitle {
		color: @c-base2;
	}
}

.deadline {
  position: absolute;
  top: 30%;
  left: -30px;
  right: 0;
  z-index: 2;
  border-bottom: 4px solid @c-base;
}

.toggle {
	border-radius: 24px;
	.shadow_c;
	background: @c-white;
	border: 1px solid @c-base3;
	max-width: 790px;
	margin: 32px auto 50px;

	@media @landsc {
		width: 96%;
	}

	&__head {
		padding: 14px 24px;	
		color: @c-prim;
		font-weight: bold;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;

		.icon {
			width: 30px;
			height: 20px;
			fill: @c-prim;
			cursor: pointer;

			&.active {
				transform: rotate(180deg);
			}
		}
	}

	&__body {
		border-top: 1px solid @c-base3;
		padding: 14px 24px 24px;
		display: none;

		@media @phone {
			overflow-x: auto;
			padding: 5px;
		}
	}
}

.table {
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	border-collapse: collapse;
	th {
		padding: 16px;
		width: 90px;
		&:first-child {
			text-align: left;
			width: 280px;
		}
		&:last-child {
			font-weight: bold;
		}
	}
	td {
		width: 90px;
		padding: 16px;
		&:first-child {
			text-align: left;
			width: 280px;
		}

		&:last-child {
			font-weight: bold;
		}
	}
	tbody {
		tr {
			background: #FAFBFF;
			border-bottom: 1px solid @c-base3;
			border-top: 1px solid @c-base3;
			&:nth-of-type(2n) {
				border: none;
				background: none;
			}
		}
	}
}

.to-profile {
	padding: 40px 15px;
	background: #FAFBFF;
	border-bottom: 1px solid @c-base3;
	border-top: 1px solid @c-base3;

	.btn {
		margin-bottom: 24px;

		@media @phone {
			width: 100%;
			padding: 15px 20px;
		}
	}

	p {
		margin: 0;
	}
}

// profile
.control-panel {
	background: url('../img/bg11.png') 50% no-repeat;
	background-size: cover;
}

.breadcrumbs {
	padding: 24px 0;
	font-size: 14px;
	a {
		color: @c-white;
		text-decoration: none;
		font-weight: bold;

		&:not(:last-child):after {
			content: '/';
			margin: 0 5px 0 10px;
		}
	}
	&_active {
		font-weight: normal !important;
	}
}

.panels {
	padding-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile {
	width: 100%;
	max-width: 550px;
	background: @c-white;
	.shadow;
	border-radius: 5px;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media @laptop {
		max-width: initial;
		margin-bottom: 16px;
	}

	@media @phone {
		text-align: center;
		justify-content: center;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 1px solid @c-base3;
	}

	&__trend {
		margin-right: 32px;
		.caption {
			color: #A3A3A3;
			margin: 10px 0;
		}
		@media @phone {
			margin-right: 0;
			width: 100%;
		}
	}

	&__name {
		margin: 0;
	}

	&__mail {
		color: @c-prim;
		text-decoration: none;
		font-size: 14px;
		margin: 10px 0;
		display: block;
	}

	&__info {
		.caption {
			margin: 0;
		}
	}
}

.panel {
	width: 100%;
	max-width: 170px;
	background: @c-white;
	.shadow;
	border-radius: 5px;
	padding: 20px 35px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	display: block;
	color: inherit;
	transition: all .3s;

	@media @laptop {
		max-width: initial;
		width: 32%;
	}

	@media @phone {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		width: 34%;
		border-bottom-right-radius: 0;
		padding: 20px 5px;
	}

	&_off {
		img,
		.panel__title {
			opacity: .2;
		}
	}

	&-block {
		display: flex;
		.shadow;

		@media @laptop {
			width: 64%;
		}
		@media @phone {
			width: 66%;
			box-shadow: none;
			border-bottom-left-radius: 0;
		}

		.panel {
			box-shadow: none;

			@media @laptop {
				width: 50%;
			}

			@media @phone {
				border-bottom-left-radius: 0;
			}

			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				position: relative;

				&:after {
					content:'';
					display: inline-block;
					width: 1px;
					background: #E6EBF0;
					position: absolute;
					right: 0;
					top: 20px;
					bottom: 20px;

					@media @phone {
						display: none;
					}
				}
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				@media @phone {
					border-bottom-right-radius: 5px;
				}
			}
		}
	}

	&:hover {
		color: @c-prim;
		transform: translateY(-4px);
	}
	
	&__title {
		line-height: 16px;

		@media @laptop {
			width: 100px;
			margin: 10px auto 0;
		}

		@media @phone{
			width: 100%;
			margin: 10px auto 0;
		}
	}

	img {
		max-width: 100%;
	}

}

.bg-colored {
	background: #F6F8FF;
}

.ratings {
	margin-bottom: 66px;
	&-block {
		padding: 60px 0 0;
	}
	&__title {
		font-weight: bold;
		margin-bottom: 24px;
		display: block;
		.icon {
			fill: @c-prim;
			width: 13px;
			height: 13px;
			vertical-align: middle;
		}

		&_reverse {
			.icon {
				transform: rotate(180deg);
				margin-right: 10px;
				vertical-align: unset;
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
	}
}

.rating {
	padding: 22px;
	border-radius: 5px;
	.shadow;
	background: @c-white;
	width: 360px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-decoration: none;
	color: inherit;
	margin-bottom: 20px;

	&:nth-of-type(3n + 2) {
		margin-left: 20px;
		margin-right: 20px;
	}

	@media @laptop {
		width: 100%;
		max-width: 540px;
		width: 49%;
		&:nth-of-type(3n + 2) {
			margin-left: 0;
			margin-right: 0;
		}

		&:nth-of-type(2n - 1) {
			margin-right: auto;
		}
	}

	@media @landsc {
		max-width: 340px;
	}

	@media @phone {
		max-width: 100%;
		width: 100%;
	}

	&:hover {
		.rating__title {
			color: @c-prim;
		}
	}

	&__title {
		transition: all .3s;
		margin: 0;
		font-weight: bold;
		font-size: 16px;		
	}

	.caption {
		margin: 0;
		color: #A3A3A3;
	}

	.trend {
		margin-right: 30px;
	}
}

.members {
	padding: 65px 0 100px;

	&-save {
		display: none;
	}

	&__head {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		.btn {
			text-transform: none;
		}
	}

	&__list {
		@media @phone {
			margin-left: 0;
			width: 100%;
		}
	}

	&__title {
		font-weight: bold;
		.icon {
			transform: rotate(180deg);
			margin-right: 10px;
			vertical-align: unset;
			fill: @c-prim;
			width: 13px;
			height: 13px;
		}
	}

	&__panels {
		display: flex;
		flex-wrap: wrap;
	}

	&__items {
		width: 315px;
		margin-left: 32px;
		display: none;
		&.active {display: block;}

		@media @phone {
			margin-left: 0;
			width: 100%;
		}

		&_all {
			display: none;
			max-height: 530px;
			overflow-y: auto;

			@media @phone {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	&__add {
		background: none;
		border: 1px dashed @c-base3;
		text-align: center;
		cursor:pointer;
		padding: 29px;
		margin-bottom: 12px;
	}

	&-control {
		display: flex;
		// align-items: flex-start;
		flex-wrap: wrap;
		max-width: 550px;
		justify-content: space-between;

		&__title {
			width: 100%;
			margin-top: 0;
		}
	}

	&__control {
		.btn {
			padding: 10px 20px 10px 10px;
			.icon {
				width: 20px;
				margin-right: 15px;
			}
		}

		@media @phone {
			width: 100%;
			margin: 24px 0;

			.btn {
				width: 100%;
			}
		}
	}
	
	&-categories {
		padding-top: 24px;
		padding-bottom: 70px;
		border-top: 1px solid @c-base3;
		width: 200px;
		position: relative;

		@media @phone {
			margin-left: 0;
			width: 100%;
			padding-bottom: 20px;
		}

		.btn {
			position: absolute;
			bottom: 0;
			left: 0;

			@media @phone {
				position: static;
				width: 100%;
			}
		}
	}
	
	&-category {
		display: block;
		background: none;
		border: none;
		cursor:pointer;
		font-size: 16px;
		padding: 5px 5px 5px 32px;
		position: relative;
		margin-bottom: 10px;

		&.active {
			font-weight: bold;
		}

		&__count {
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: @c-gradient2;
			color: @c-white;
			display: block;
			line-height: 22px;
			text-align: center;
			font-size: 14px;
			font-weight: 600;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.member {
	padding: 18px 24px;
	border-radius: 5px;
	.shadow;
	background: @c-white;
	width: 265px;
	margin-bottom: 20px;
	margin-right: 20px;

	&:nth-of-type(4n) {
		margin-right: 0;
	}

	@media @laptop {
		width: 48%;
		margin-right: 0;

		&:nth-of-type(2n - 1) {
			margin-right: auto;
		}
	}

	@media @phone {
		margin-right: 0;
		width: 100%;
	}

	&__title {
		font-weight: bold;
		font-size: 16px;
		margin: 0;
	}

	&_full {
		margin-right: 0;
		width: 100%;
		.shadow_c;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 12px;
	}

	.caption {
		color: #A3A3A3;
		text-decoration: none;
	}
}


#chartjs-tooltip {
	color: @c-base;
	border-radius: 5px;
	background-color: @c-base3;
	text-align: center;
}

#chartjs-tooltip p {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 34px;
}

.lineChart {
	width: 100% !important;
}

.indicators {
	padding: 65px 0 80px;
	@media @laptop {
		padding: 40px 0 65px;
	}


	@media @phone {
		.members__title {
			padding-left: 16px;
		}
		.container {
			padding: 0;
		}
	}

	&__chart {
		width: 75%;
		background: @c-white;
		border-radius: 5px;
		.shadow;
		padding: 24px;

		@media @laptop {
			width: 100%;
		}

		@media @phone {
			padding: 24px 0;
		}
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 24px;
		@media @laptop {
			position: relative;
			padding-bottom: 70px;
		}
	}

	&__panels {
		background: @c-white;
		border-radius: 5px;
		.shadow;
		padding: 0 32px;
		max-width: 265px;
		text-align: center;
		position: relative;
		@media @laptop {
			width: 100%;
			max-width: 100%;
			display: flex;
			margin-bottom: 24px;
			position: static;
			padding: 0;
		}
		@media @phone {
			padding: 0;
			margin: 0 16px 24px;
		}
		.btn {
			width: 230px;
			min-width: 230px;
			margin: auto;
			left: 0;
			right: 0;
			bottom: -20px;
			position: absolute;
			padding: 10px 25px;

			@media @laptop {
				bottom: 0;
			}

			.txt-hide {
				display: none;
			}
			
			.txt-show {
				display: inline;
			}

			&_att.active {
				background: @c-gradient no-repeat;
				box-shadow: 0 6px 25px -5px @c-prim;

				.txt-hide {
					display: inline;
				}

				.txt-show {
					display: none;
				}
			}
		}
	}

	&__panel {
		line-height: 20px;
		padding: 52px 0;

		@media @laptop {
			width: 50%;
		}
		@media @phone {
			padding: 16px 5px;
		}

		&:first-of-type {
			border-bottom: 1px solid @c-base3;
			@media @laptop {
				border-bottom: none;
				border-right: 1px solid @c-base3;
			}
		}
		span {
			display: block;
			margin-bottom: 20px;
		}
	}
}

.legends {
	text-align: center;
	display: none;
}

.legend {
	display: inline-block;
	margin-right: 30px;
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
	img {
		margin-right: 5px;
		vertical-align: middle;
	}
}

.full-block {
	width: 100%;
}

.settings {
	background: @c-white;
	border-radius: 5px;
	.shadow_c;
	padding: 0 0 65px;
	position: relative;

	@media @phone {
		box-shadow: none;
		border-radius: 0;

	}

	&__title {
		margin-bottom: 30px;
	}

	&__fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	&__item {
		padding: 24px 24px 32px;
		border-bottom: 1px solid @c-base3;

		&:last-of-type {
			border-bottom: none;
		}
	}

	&-block {
		padding: 32px 0 100px;
		&__title {
			font-weight: bold;
			margin-bottom: 24px;
			display: block;
			@media @phone {
				padding-left: 15px;
			}
			.icon {
				fill: @c-prim;
				width: 13px;
				height: 13px;
				transform: rotate(180deg);
				margin-right: 10px;
				vertical-align: unset;
			}
		}
		@media @phone {
			.container_min {
				padding: 0;
			}
		}
	}

	.btn {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		margin: auto;
		width: 260px;
	}
}

.get-link {
	background: @c-white;
	padding: 24px;
	border-radius: 5px;
	.shadow_c;
	margin-bottom: 40px;

	&__title {
		margin-top: 0;
		margin-bottom: 24px;
	}

	&__action {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;


	}

	.caption {
		margin-bottom: 5px;
	}

	.form__field {
		max-width: 455px;
		margin-bottom: 0;

		@media @phone {
			max-width: 100%;
			margin: 24px 0; 
		}

		input {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.btn {
		width: 27%;

		@media @phone {
			max-width: 100%;
			width: 100%;
		}
		p {
			min-width: auto;
			padding: 8px 24px;
		}
	}
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
	&__title {
		width: 100%;
	}

	@media @phone {
		padding: 0 15px;
	}

	&__link {
		display: inline-block;
		width: 49%;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
		border-radius: 5px;
		padding: 16px;
		color: @c-white;
		text-decoration: none;
		margin-bottom: 16px;
		@media @phone {
			width: 100%;
		}
		.icon {
			fill: @c-white;
			width: 12px;
			height: 12px;
		}
	}
}

.who {
	@media @phone {
		padding: 0 15px;
	}
}

.tw {
	background:url('../img/twitter.svg') no-repeat 90% -50%,  linear-gradient(90deg, #0A99F1 0%, #59BDFB 100%);
}

.vk {
	background:url('../img/vk.svg') no-repeat 90% 10px,  linear-gradient(90deg, #3D6FA9 0%, #528DD0 100%);
}

.od {
	background:url('../img/od.svg') no-repeat 90% -50%,  linear-gradient(90deg, #EF7000 0%, #FF972E 100%);
}

.fb {
	background:url('../img/fb.svg') no-repeat 90% -50%,  linear-gradient(180deg, #2C5AB9 0%, #4E7AD4 100%);
}

.collapse {
	background: @c-white;
	border-radius: 24px;
	.shadow_c;
	padding: 14px 24px;
	font-size: 16px;
	margin-bottom: 16px;

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		.icon {
			fill: @c-prim;
			width: 30px;
			height: 18px;
		}

		&.active {
			.icon {
				transform: rotate(180deg);
			}
		}
	}

	&__body {
		display: none;
	}
}